<div class="hero-section">
    <div class="max-width">
        <div class="hero-section__top">
            <div class="hero-section__logo">
                <a href="https://ashstonestudios.com/" target="_blank"><img src="__static__img/content/logo.png" class="logo-ashstone" alt=""></a>
                <img src="__static__img/content/x.svg" alt="">
                <a href="https://www.shopify.com/" target="_blank"><img src="__static__img/content/shopify.png" class="logo-shopify" alt=""></a>
            </div>

            <div class="hero-section__menu">
                <a href="#intro" class="hero-section__links">About Us</a>
                <a href="#support" class="hero-section__links">Support</a>
                <a href="#copyright" class="hero-section__links">Copyright</a>
                <a href="#partnership" class="hero-section__links">Partnership</a>
                <a href="#uniqueness" class="hero-section__links">Uniqueness</a>
                <a href="#final" class="hero-section__links">Contact</a>
            </div>
        </div>

        <h1 class="title hero-section__title">Reliable Partners and Unlimited Source of Top-Tier Shopify Themes</h1>
    </div>
</div>
