/*! Hero Section
----------------------
 */
.hero-section {
    padding: 1.5rem 0 3rem;
    border-bottom: 1px solid #d8d8d8;

    @include laptop {
        padding: 2.5rem 0 5rem;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .logo-ashstone {
            height:14px;

            @include laptop {
                height:20px;
            }
        }

        .logo-shopify {
            height:30px;

            @include laptop {
                height:45px;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 1rem;
        grid-row-gap:.5rem;
        flex-wrap: wrap;

        @include laptop {
          gap: 2rem;
          flex-wrap: nowrap;
        }
    }

    &__links {
        font-weight: 500;

        &:hover {
            color: var(--color-accent);
        }
    }

    &__title {
        margin-top: 6rem;
        max-width: 1200px;

        @include laptop {
            margin-top: 12rem;
        }

        @include desktop {
            margin-top: 17.375rem;
            max-width: 1465px;
        }

        span:not(.semibold) {
            color: var(--color-gray);
        }
    }
}
