<div class="partnership-section" id="partnership">
    <div class="max-width">
        <div class="partnership-section__content">
            <div class="headline">Partnership</div>
            <h2 class="title">Why are <span class="gradient-green">We Good Partners?</span></h2>
            <div class="subtitle body-l">
                Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit
                nullam in non sem. Morbi fringilla elementum nunc diam. Eu hac sit at dignissim ornare massa
                vulputate.
            </div>
        </div>

        <div class="partnership-section__subsection">
            <div class="partnership-section__number"><span class="title h5">01</span></div>
            <div class="partnership-section__content partnership-section__content--small">
                <h3 class="title">Sheer Volume & Quality Like No Other</h3>
                <div class="subtitle body-l">
                    Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit
                    nullam in non sem. Morbi fringilla.
                </div>
            </div>

            <div class="partnership-section__table">
                <img
                    srcset="
                        __static__img/content/partnership/table@2x.webp 2x,
                        __static__img/content/partnership/table.webp    1x
                    "
                    src="__static__img/content/partnership/table@2x.webp"
                    alt="authors-table"
                />
            </div>
            <h4 class="title title_medium">
                In addition to frequent releases, regular updates, and support, our
                <span class="gradient-green">themes feature 5 demos</span> covering all potential customer
                needs with various store categories within a single theme.
            </h4>
            <div class="partnership-section__theme-in-store">
                <img
                    srcset="
                        __static__img/content/partnership/theme-screen@2x.webp 2x,
                        __static__img/content/partnership/theme-screen.webp    1x
                    "
                    src="__static__img/content/partnership/theme-screen@2x.webp"
                    alt="Screenshot of theme in store"
                />
            </div>
            <span class="body-s">The screenshot shows the Copenhagen theme, which includes 5 demos.</span>
        </div>

        <div class="partnership-section__subsection">
            <div class="partnership-section__number"><span class="title h5">02</span></div>
            <div class="partnership-section__content partnership-section__content--small">
                <h3 class="title">Quality & Features</h3>
                <div class="subtitle body-l">
                    Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit
                    nullam in non sem. Morbi fringilla.
                </div>
            </div>
        </div>

        <div class="partnership-section__subsection">
            <div class="partnership-section__number"><span class="title h5">03</span></div>
            <div class="partnership-section__content partnership-section__content--small">
                <h3 class="title">Reliable</h3>
                <div class="subtitle body-l">
                    For the past 8 years, we have been developing and supporting themes. Our quality has been
                    recognized through awards we have received.
                </div>
            </div>

            <div class="partnership-section__codesupplyco">
                <img
                    srcset="
                        __static__img/content/partnership/codesupplyco@2x.webp 2x,
                        __static__img/content/partnership/codesupplyco.webp    1x
                    "
                    src="__static__img/content/partnership/codesupplyco@2x.webp"
                    alt="Codesupplyco portfolio"
                />
            </div>
            <h4 class="title title_medium">
                <span class="gradient-green">Since 2015, we have been developing</span> WordPress themes.
                During this time, our themes have been purchased 24 897 times. We have been honored with
                numerous awards due to the high quality of our themes and our excellent support team.
            </h4>
            <div class="partnership-section__codesupplyco-rating">
                <img
                    srcset="
                        __static__img/content/partnership/codesupplyco-rating@2x.webp 2x,
                        __static__img/content/partnership/codesupplyco-rating.webp    1x
                    "
                    src="__static__img/content/partnership/codesupplyco-rating@2x.webp"
                    alt="Codesupplyco rating"
                />
            </div>
        </div>

        <div class="partnership-section__subsection">
            <div class="partnership-section__number"><span class="title h5">04</span></div>
            <div class="partnership-section__content partnership-section__content--small">
                <h3 class="title">Single Source</h3>
                <div class="subtitle body-l">
                    Lorem ipsum dolor sit amet consectetur. Consectetur posuere fames id vitae.
                </div>
            </div>

            <div class="partnership-section__grid">
                <div class="partnership-section__grid-item">
                    <div class="partnership-section__grid-icon">
                        <img src="__static__img/content/code.svg" alt="" />
                    </div>
                    <h4 class="title">Unified Codebase</h4>
                    <div class="body-l">
                        In our theme development, we adhere to a unified codebase, which allows us to easily
                        and quickly update all our themes.
                    </div>
                </div>
                <div class="partnership-section__grid-item">
                    <div class="partnership-section__grid-icon">
                        <img src="__static__img/content/communication.svg" alt="" />
                    </div>
                    <h4 class="title">Single Communication Channel</h4>
                    <div class="body-l">
                        We have many themes, but communication always occurs with one account manager. This
                        makes it easier to interact with customers, ensuring that we can always respond
                        promptly and accurately to their inquiries.
                    </div>
                </div>
                <div class="partnership-section__grid-item">
                    <div class="partnership-section__grid-icon">
                        <img src="__static__img/content/hand.svg" alt="" />
                    </div>
                    <h4 class="title">Three Brands</h4>
                    <div class="body-l">
                        We have created three brands targeting different price segments, allowing store owners
                        to choose what suits them best.
                    </div>

                    <div class="partnership-section__brands">
                        <div class="partnership-section__brands-item">
                            <div class="partnership-section__brands-image">
                                <img
                                    srcset="
                                        __static__img/content/partnership/segment@2x.webp 2x,
                                        __static__img/content/partnership/segment.webp    1x
                                    "
                                    src="__static__img/content/partnership/segment@2x.webp"
                                    alt="Segment brand"
                                />
                            </div>
                            <div class="partnership-section__brands-title">Segment</div>
                            <div class="partnership-section__brands-text body-s">
                                High-end Shopify themes with advanced feature sets.
                            </div>
                        </div>

                        <div class="partnership-section__brands-item">
                            <div class="partnership-section__brands-image">
                                <img
                                    srcset="
                                        __static__img/content/partnership/AC@2x.webp 2x,
                                        __static__img/content/partnership/AC.webp    1x
                                    "
                                    src="__static__img/content/partnership/AC@2x.webp"
                                    alt="Apparent Collective brand"
                                />
                            </div>
                            <div class="partnership-section__brands-title">Apparent Collective</div>
                            <div class="partnership-section__brands-text body-s">
                                Premium Shopify themes with broader functionality.
                            </div>
                        </div>

                        <div class="partnership-section__brands-item">
                            <div class="partnership-section__brands-image">
                                <img
                                    srcset="
                                        __static__img/content/partnership/noord@2x.webp 2x,
                                        __static__img/content/partnership/noord.webp    1x
                                    "
                                    src="__static__img/content/partnership/noord@2x.webp"
                                    alt="Noord brand"
                                />
                            </div>
                            <div class="partnership-section__brands-title">Noord</div>
                            <div class="partnership-section__brands-text body-s">
                                Budget-friendly Shopify themes with all features for store.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
