<div class="partnership-section" id="partnership">
    <div class="max-width">
        <div class="partnership-section__content">
            <div class="headline">Partnership</div>
            <h2 class="title">Theme Developers <span class="gradient-green">Like No Other</span></h2>
            <div class="subtitle body-l">
                There are no other developers quite like us, capable of producing, supporting and maintaining such a vast array of professional themes. And here’s why.
            </div>
        </div>

        <div class="partnership-section__subsection">
            <div class="partnership-section__number"><span class="title h5">01</span></div>
            <div class="partnership-section__content partnership-section__content--small">
                <h3 class="title">Sheer Volume</h3>
                <div class="subtitle body-l">
                    We hold our fellow theme authors in high regard, acknowledged experts on the platform who typically release 2-4 themes annually. In contrast, our larger team and efficient processes enable us to maintain high quality while releasing up to 12 themes each year.
                </div>
            </div>

            <div class="partnership-section__changelog">
                <div class="partnership-section__changelog-head">
                    <div class="partnership-section__changelog-row">
                        <div class="partnership-section__changelog-column">Theme Author</div>
                        <div class="partnership-section__changelog-column">
                            Themes released in the last 2 years
                        </div>
                    </div>
                </div>
                <div class="partnership-section__changelog-body">
                    <div class="partnership-section__changelog-row">
                        <div class="partnership-section__changelog-column">Maestrooo</div>
                        <div class="partnership-section__changelog-column">1</div>
                    </div>
                    <div class="partnership-section__changelog-row">
                        <div class="partnership-section__changelog-column">Archetype Themes</div>
                        <div class="partnership-section__changelog-column">2</div>
                    </div>
                    <div class="partnership-section__changelog-row">
                        <div class="partnership-section__changelog-column">Clean Canvas Ltd</div>
                        <div class="partnership-section__changelog-column">2</div>
                    </div>
                    <div class="partnership-section__changelog-row">
                        <div class="partnership-section__changelog-column">Fuel Themes</div>
                        <div class="partnership-section__changelog-column">4</div>
                    </div>
                    <div class="partnership-section__changelog-row partnership-section__changelog-row_best">
                        <div class="partnership-section__changelog-column">Ashstone Studios</div>
                        <div class="partnership-section__changelog-column">14</div>
                    </div>
                </div>
            </div>

            <h4 class="title title_medium">
                In addition to frequent releases, regular updates, and support, our <span class="gradient-green">themes feature 5 demos</span> covering all potential customer needs with various store categories within a single theme.
            </h4>
            <div class="partnership-section__theme-in-store">
                <img
                    srcset="
                        __static__img/content/partnership/theme-screen@2x.webp 2x,
                        __static__img/content/partnership/theme-screen.webp    1x
                    "
                    src="__static__img/content/partnership/theme-screen@2x.webp"
                    alt="Screenshot of theme in store"
                />
            </div>
            <span class="body-s">The screenshot shows the Copenhagen theme, which includes 5 demos.</span>
        </div>

        <div class="partnership-section__subsection">
            <div class="partnership-section__number"><span class="title h5">02</span></div>
            <div class="partnership-section__content partnership-section__content--small">
                <h3 class="title">A Rich Feature Set & Exceptional Quality</h3>
                <div class="subtitle body-l">
                    Despite the large number of theme releases, our quality remains consistently high. Moreover, with each theme, we strive to improve both design and development quality.
                </div>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">Various Features</h5>
                </div>

                <div class="partnership-section__block-description">
                    We are introducing many exciting features into our themes, which we detail on our landing pages. You can find more information about some of them on the following websites:
                </div>

                <ul class="partnership-section__block-websites">
                    <li><a href="https://getstockmart.com/" target="_blank">https://getstockmart.com/</a></li>
                    <li>
                        <a href="https://getminimalista.com/" target="_blank">https://getminimalista.com/</a>
                    </li>
                    <li>
                        <a href="https://getdigitaltheme.com/" target="_blank"
                            >https://getdigitaltheme.com/</a
                        >
                    </li>
                </ul>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">Quality Control</h5>
                </div>

                <div class="partnership-section__block-description">
                    Before releasing themes, we thoroughly check the developers' work. This is done using the BugHerd service. Designers leave comments on all demos to ensure that the theme matches the layouts and functions correctly without errors.
                </div>

                <div class="partnership-section__block-content partnership-section__block-content--2">
                    <div class="partnership-section__block-media">
                        <div class="partnership-section__block-media-img">
                            <img
                                srcset="
                                    __static__img/content/partnership/control@2x.webp 2x,
                                    __static__img/content/partnership/control.webp    1x
                                "
                                src="__static__img/content/partnership/control@2x.webp"
                                alt="Screenshot of theme in store"
                            />
                        </div>
                        <div class="body-s">The screenshot shows projects in BugHerd.</div>
                    </div>
                    <div class="partnership-section__block-media">
                        <div class="partnership-section__block-media-img">
                            <img
                                srcset="
                                    __static__img/content/partnership/control-2@2x.webp 2x,
                                    __static__img/content/partnership/control-2.webp    1x
                                "
                                src="__static__img/content/partnership/control-2@2x.webp"
                                alt="Screenshot of theme in store"
                            />
                        </div>
                        <div class="body-s">
                            The screenshot shows the Divided White Oak project in BugHerd.
                        </div>
                    </div>
                </div>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">Regular Feature Updates</h5>
                </div>

                <div class="partnership-section__block-description">
                    We regularly and promptly implement all features and changes provided by the Shopify team.
                </div>
            </div>
        </div>

        <div class="partnership-section__subsection">
            <div class="partnership-section__number"><span class="title h5">03</span></div>
            <div class="partnership-section__content partnership-section__content--small">
                <h3 class="title">A Partner You Can Rely On</h3>
                <div class="subtitle body-l">
                    For the past 9 years, we have been developing and supporting premium themes, and there aren’t any other devs who can boast such an extensive portfolio of well-maintained themes.
                </div>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">High Capacity</h5>
                </div>

                <div class="partnership-section__block-description">
                    We have a large team that can be dynamically redistributed — for example, we can pause development on one project and shift focus to addressing bug fixes in other projects. We are highly adaptable in our work and are capable to update all our portfolio within just a few hours.
                </div>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">Redundant Capacity of Teams</h5>
                </div>

                <div class="partnership-section__block-description">
                    Our teams are divided into pairs, which allows us to be flexible — there is always a replacement available for a team member, whether they are on vacation or in other circumstances, unlike smaller independent theme authors.
                </div>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">Expansive Support Team</h5>
                </div>

                <div class="partnership-section__block-description">
                    Thanks to our extensive support, we are always available and respond promptly to customer inquiries, resolving their issues efficiently.
                </div>
            </div>
        </div>

        <div class="partnership-section__subsection">
            <div class="partnership-section__number"><span class="title h5">04</span></div>
            <div class="partnership-section__content partnership-section__content--small">
                <h3 class="title">Single Source</h3>
                <div class="subtitle body-l">
                    Unlike many developers with only one or two themes in their portfolio, a larger theme author with a broader selection offers numerous benefits.
                </div>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">Unified Codebase</h5>
                </div>

                <div class="partnership-section__block-description">
                    In our theme development, we adhere to a unified codebase, which allows us to easily and quickly update all our themes.
                </div>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">Single Communication Channel</h5>
                </div>

                <div class="partnership-section__block-description">
                    We offer a wide array of themes, yet all communication is streamlined through a single account manager. This simplifies your interaction, allowing you to connect with just one point of contact instead of multiple developers with smaller portfolios.
                </div>
            </div>

            <div class="partnership-section__block">
                <div class="partnership-section__block-head">
                    <img src="__static__img/content/point.svg" alt="" />
                    <h5 class="title">Three Brands</h5>
                </div>

                <div class="partnership-section__block-description">
                    We have created three brands targeting different price segments, allowing store owners to choose what suits them best.
                </div>

                <div class="partnership-section__block-content partnership-section__block-content--3">
                    <div class="partnership-section__block-media">
                        <div class="partnership-section__block-media-img">
                            <img
                                srcset="
                                    __static__img/content/partnership/segment@2x.webp 2x,
                                    __static__img/content/partnership/segment.webp    1x
                                "
                                src="__static__img/content/partnership/segment@2x.webp"
                                alt="Segment brand"
                            />
                        </div>
                        <div class="partnership-section__brands-title">Segment</div>
                        <div class="body-s">High-end Shopify themes with advanced feature sets.</div>
                    </div>
                    <div class="partnership-section__block-media">
                        <div class="partnership-section__block-media-img">
                            <img
                                srcset="
                                    __static__img/content/partnership/AC@2x.webp 2x,
                                    __static__img/content/partnership/AC.webp    1x
                                "
                                src="__static__img/content/partnership/AC@2x.webp"
                                alt="Apparent Collective brand"
                            />
                        </div>
                        <div class="partnership-section__brands-title">Apparent Collective</div>
                        <div class="body-s">Premium Shopify themes with broader functionality.</div>
                    </div>
                    <div class="partnership-section__block-media">
                        <div class="partnership-section__block-media-img">
                            <img
                                srcset="
                                    __static__img/content/partnership/noord@2x.webp 2x,
                                    __static__img/content/partnership/noord.webp    1x
                                "
                                src="__static__img/content/partnership/noord@2x.webp"
                                alt="Noord brand"
                            />
                        </div>
                        <div class="partnership-section__block-media-title">Noord</div>
                        <div class="body-s">Budget-friendly Shopify themes with all features for store.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
