/*! Partnership Section
-----------------
 */
.partnership-section {
    padding: 5rem 0 5rem;
    border-bottom: 1px solid #d8d8d8;

    @include laptop {
        padding: 10rem 0 10rem;
    }

    &__content {
        max-width: 908px;

        .subtitle {
            max-width: 840px;
        }

        &--small {
            padding: 0;

            .subtitle {
                max-width: 720px;

                @include book {
                    max-width:660px;
                }
            }
        }

        &--small2 {
            padding: 0;

            .subtitle {
                max-width: 720px;

                @include book {
                    max-width:640px;
                }
            }
        }

        &--small3 {
            padding: 0;

            .subtitle {
                max-width: 720px;

                @include book {
                    max-width:650px;
                }
            }
        }

        & + .partnership-section__subsection {
            padding: 40px 0 0;

            @include laptop {
                padding: 80px 0 0;
            }
        }
    }

    &__subsection {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 64px 0 0;

        @include laptop {
            padding: 136px 0 0;
        }

        .title {
            margin: 0 0 16px;
        }

        h4.title_medium {
            max-width: 790px;
            margin: 0 0 40px;

            @include laptop {
                max-width: 1120px;
                margin: 0 0 80px;
            }

            @include book {
                max-width: 900px;
            }
        }
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        background-color: var(--color-light-gray);
        border-radius: 0.75rem;
        margin-bottom: 1rem;

        @include laptop {
            width: 5rem;
            height: 5rem;
        }

        span.title {
            margin: 0;
        }
    }

    &__table {
        max-width: 788px;
        border: 1px solid #d4d4d4;
        border-radius: 8px;
        overflow: hidden;
        margin: 1.5rem auto 3rem;

        @include laptop {
            margin: 2.5rem auto 5rem;
        }
    }

    &__changelog {
        margin: 20px 0 50px;
        max-width: 760px;
        border: 1px solid #d4d4d4;
        border-radius: 8px;
        background: #fff;
        width: 100%;

        @include tablet {
            margin: 40px 0 80px;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-head &-row {
            padding: 2rem 1rem 1rem;
            border-bottom: 1px solid #d4d4d4;

            @include tablet {
                padding: 2.5rem 3.5rem 2rem;
            }
        }

        &-body {
            padding: 1rem 1rem 2rem;
            overflow: hidden;

            @include tablet {
                padding: 2rem 3.5rem 3rem;
            }
        }

        &-body &-row {
            margin: 0 0 1rem;
            position: relative;

            &_best {
                &:before {
                    content: '';
                    z-index: 1;
                    background: #f5f5fa;
                    position: absolute;
                    left: -1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 300%;
                    height: 38px;

                    @include tablet {
                        left: -3.5rem;
                        width: 300%;
                        height: 48px;
                    }
                }
            }

            @include tablet {
                margin: 0 0 2rem;
            }

            &:last-child {
                margin: 0;
            }
        }

        &-column {
            flex: 1;
            position: relative;
            z-index: 2;

            &_red {
                color: #ff3868;
            }
        }

        &-head &-column {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.2;

            @include tablet {
                font-size: 1.25rem;
            }
        }

        &-body &-column {
            font-weight: 500;
            font-size: 0.875rem;

            @include tablet {
                font-size: 1.063rem;
            }
        }

        &-body &-row_best &-column {
            font-weight: 600;
        }
    }

    &__theme-in-store {
        border: 1px solid #d4d4d4;
        border-radius: 8px;
        overflow: hidden;
        padding: 32px;
        display: flex;
        align-items: center;
        max-width: 1170px;

        & + span {
            display: block;
            margin-top: 14px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__codesupplyco {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: calc(1106px + 2 * 30px); // 30px - shadows included in image
        margin: calc(1.5rem - 10px) auto calc(3rem - 30px); // 10px, 30px - shadows included in image

        @include laptop {
            margin: calc(2.5rem - 10px) auto calc(5rem - 30px); // 10px, 30px - shadows included in image
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__codesupplyco-rating {
        max-width: 340px;
        max-height: 340px;
        border: 1px solid rgba(127, 82, 255, 0.06);
        box-shadow: 0px 10px 50px 0px rgba(127, 82, 255, 0.08);
        border-radius: 12px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 1.5rem 0 0;

        @include laptop {
            margin: 2.5rem 0 0;
        }

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 1.25rem;
            border-radius: 12px;
            background-color: var(--color-light-gray);

            @include laptop {
                padding: 64px;

                &:nth-child(-n + 2) {
                    width: calc(50% - 24px / 2);
                }
            }

            h4,
            .body-l {
                max-width: 600px;
            }

            .body-l {
                color: var(--color-gray-2);
            }
        }

        &-icon {
            width: 52px;
            height: 52px;
            margin: 0 0 24px;

            @include laptop {
                margin: 0 0 48px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__brands {
        margin: 24px 0 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;

        @include laptop {
            margin: 48px 0 0;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-image {
            margin-bottom: 1rem;
            border: 1px solid rgba(127, 82, 255, 0.06);
            box-shadow: 0px 10px 50px 0px rgba(127, 82, 255, 0.08);
            border-radius: 4px;
            overflow: hidden;
            max-width: 428px;

            @include tablet {
                border-radius: 12px;
            }

            img {
                width: 100%;
            }
        }

        &-title {
            margin-bottom: 0.25rem;
            color: var(--color-gray-2);
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.2;
            letter-spacing: -0.02em;
            width: 100%;

            @include tablet {
                width: initial;
            }
        }

        &-text {
            color: var(--color-gray-2);
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0;

        @include laptop {
            margin: 40px 0 0;
        }

        &-head {
            display: flex;
            align-items: center;
            gap: 14px;

            .title {
                margin: 0;
            }
        }

        &-description {
            max-width: 662px;
            padding-left: 23px;
            margin-top: 12px;

            @include book {
                max-width: 625px;
            }
        }

        &-websites {
            margin: 12px 0 0;
            display: flex;
            flex-direction: column;
            gap: 12px;

            a {
                text-decoration: underline;
                transition: opacity var(--transition);

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &-content {
            padding-left: 23px;
            margin: 24px 0 0;
            display: flex;
            flex-direction: column;
            gap: 24px;

            @include laptop {
                flex-direction: row;
            }
        }

        &-media {
            display: flex;
            flex-direction: column;

            &-img {
                border: 1px solid #d4d4d4;
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .partnership-section__block-content--2 & {
                width: 100%;

                @include laptop {
                    width: calc(50% - 24px / 2);
                }
            }

            .partnership-section__block-content--3 & {
                width: 100%;

                @include laptop {
                    width: calc(100% / 3 - 24px / 3);
                }
            }

            &-title {
                margin-bottom: 0.25rem;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.2;
                letter-spacing: -0.02em;
            }
        }
    }
}
