<div class="offices-section">
    <div class="max-width">
        <div class="offices-section__content">
            <div class="offices-section__head">
                <h3 class="title">Offices Location</h3>
                <div class="subtitle body-l">
                    Our offices are spread out across two countries, which gives us a global reach and allows
                    us to attract a diverse range of talent. This also means we can create more jobs
                </div>
            </div>

            <div class="offices-section__toggle">
                <div
                    class="offices-section__toggle-item offices-section__toggle-item--active js-office-toggle"
                    data-office-id="armenia"
                >
                    <div class="offices-section__toggle-flag">
                        <img src="__static__img/content/flag-am.svg" alt="" />
                    </div>
                    <span class="headline">Armenia</span>
                </div>
                <div class="offices-section__toggle-item js-office-toggle" data-office-id="georgia">
                    <div class="offices-section__toggle-flag">
                        <img src="__static__img/content/flag-ge.svg" alt="" />
                    </div>
                    <span class="headline">Georgia</span>
                </div>
            </div>

            <div class="offices-section__block">
                <div class="offices-section__info js-office-info" data-office-id="armenia">
                    <h5 class="title">Armenia, Yerevan</h5>
                    <div class="offices-section__info-more">
                        <span class="title h6">Azatutyan 24/15, office B213, Yerevan, Armenia, 0014</span>
                        <span class="title h6">+374 95 099846</span>
                    </div>
                </div>
                <div class="offices-section__grid js-office-grid" data-office-id="armenia">
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/am/photo-1@2x.webp 2x,
                                __static__img/content/offices/am/photo-1.webp    1x
                            "
                            src="__static__img/content/offices/am/photo-1@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/am/photo-2@2x.webp 2x,
                                __static__img/content/offices/am/photo-2.webp    1x
                            "
                            src="__static__img/content/offices/am/photo-2@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/am/photo-6@2x.webp 2x,
                                __static__img/content/offices/am/photo-6.webp    1x
                            "
                            src="__static__img/content/offices/am/photo-6@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/am/photo-3@2x.webp 2x,
                                __static__img/content/offices/am/photo-3.webp    1x
                            "
                            src="__static__img/content/offices/am/photo-3@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/am/photo-4@2x.webp 2x,
                                __static__img/content/offices/am/photo-4.webp    1x
                            "
                            src="__static__img/content/offices/am/photo-4@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/am/photo-7@2x.webp 2x,
                                __static__img/content/offices/am/photo-7.webp    1x
                            "
                            src="__static__img/content/offices/am/photo-7@2x.webp"
                            alt="office-image"
                        />
                    </div>
                </div>

                <div
                    class="offices-section__info offices-section__info--hidden js-office-info"
                    data-office-id="georgia"
                >
                    <h5 class="title">Georgia, Batumi</h5>
                    <div class="offices-section__info-more">
                        <span class="title h6">19 Haidar Abashidze street,<br>Batumi</span>
                        <span class="title h6">+995 595 894 004</span>
                    </div>
                </div>
                <div
                    class="offices-section__grid offices-section__grid--hidden js-office-grid"
                    data-office-id="georgia"
                >
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/ge/photo-1@2x.webp 2x,
                                __static__img/content/offices/ge/photo-1.webp    1x
                            "
                            src="__static__img/content/offices/ge/photo-1@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/ge/photo-2@2x.webp 2x,
                                __static__img/content/offices/ge/photo-2.webp    1x
                            "
                            src="__static__img/content/offices/ge/photo-2@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/ge/photo-3@2x.webp 2x,
                                __static__img/content/offices/ge/photo-3.webp    1x
                            "
                            src="__static__img/content/offices/ge/photo-3@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/ge/photo-4@2x.webp 2x,
                                __static__img/content/offices/ge/photo-4.webp    1x
                            "
                            src="__static__img/content/offices/ge/photo-4@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/ge/photo-5@2x.webp 2x,
                                __static__img/content/offices/ge/photo-5.webp    1x
                            "
                            src="__static__img/content/offices/ge/photo-5@2x.webp"
                            alt="office-image"
                        />
                    </div>
                    <div class="offices-section__grid-item">
                        <img
                            srcset="
                                __static__img/content/offices/ge/photo-6@2x.webp 2x,
                                __static__img/content/offices/ge/photo-6.webp    1x
                            "
                            src="__static__img/content/offices/ge/photo-6@2x.webp"
                            alt="office-image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
