<div style="height:300px">
    <div class="max-width">
        <div class="headline headline_middle">Support</div>
        <div class="title title_middle">Support</div>
        <div class="subtitle subtitle_middle">Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit nullam in non sem. Morbi fringilla elementum nunc diam. Eu hac sit at dignissim ornare massa vulputate.</div>

        <p>TETETETETSTTT</p>

        <div class="title title_medium">Stats</div>
        <p>TETETETETSTTT</p>
        <p>TETETETETSTTT</p>

        <a href="#" class="button">Support</a>
    </div>
</div>
