<div class="support-section" id="support">
    <div class="max-width">
        <div class="support-section__info">
            <div class="support-section__content">
                <div class="headline">Support</div>
                <h2 class="title">Support</h2>
                <div class="subtitle body-l">
                    Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit
                    nullam in non sem. Morbi fringilla elementum nunc diam. Eu hac sit at dignissim ornare
                    massa vulputate.
                </div>
            </div>

            <div class="support-section__people">
                <div class="support-section__person">
                    <div class="support-section__person-image"></div>
                    <h6 class="title support-section__person-name">Ion Burdianov</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"></div>
                    <h6 class="title support-section__person-name">Hasti Patel</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"></div>
                    <h6 class="title support-section__person-name">Mann Patel</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"></div>
                    <h6 class="title support-section__person-name">Dmitrii Chempalov</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
            </div>

            <h4 class="title title_medium">
                Our support team <span class="gradient-green">works full-time under NDA</span>. It is crucial
                for us that the team remains continuously engaged in supporting our products, so we provide
                all the necessary conditions for this.
            </h4>
        </div>

        <div class="support-section__stats">
            <div class="support-section__content">
                <h3 class="title">Statistics</h3>
                <div class="subtitle body-l">
                    Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit nullam in non sem. Morbi fringilla.
                </div>
            </div>
        </div>
    </div>
</div>
