<div class="support-section" id="support">
    <div class="max-width">
        <div class="support-section__info">
            <div class="support-section__content support-section__content--first">
                <div class="headline">Support</div>
                <h2 class="title">Theme Support</h2>
                <div class="subtitle body-l">
                    As the volume of new themes increases, we expand our support team. We also employ a strict vetting process for hiring new support agents.
                </div>
            </div>

            <div class="support-section__people">
                <div class="support-section__person">
                    <div class="support-section__person-image"><img srcset="__static__img/content/team/ion@2x.webp 2x, __static__img/content/team/ion.webp 1x" src="__static__img/content/team/ion@2x.webp" alt="" /></div>
                    <h6 class="title support-section__person-name">Ion Burdianov</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"><img srcset="__static__img/content/team/hasti@2x.webp 2x, __static__img/content/team/hasti.webp 1x" src="__static__img/content/team/hasti@2x.webp" alt="" /></div>
                    <h6 class="title support-section__person-name">Hasti Patel</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"><img srcset="__static__img/content/team/mann@2x.webp 2x, __static__img/content/team/mann.webp 1x" src="__static__img/content/team/mann@2x.webp" alt="" /></div>
                    <h6 class="title support-section__person-name">Mann Patel</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"><img srcset="__static__img/content/team/dmitrii@2x.webp 2x, __static__img/content/team/dmitrii.webp 1x" src="__static__img/content/team/dmitrii@2x.webp" alt="" /></div>
                    <h6 class="title support-section__person-name">Dmitrii Chempalov</h6>
                    <div class="team-label team-label--support">Support WordPress Agent</div>
                </div>
            </div>

            <h4 class="title title_medium">
                Our support team consists of full-time employees who are contracted and have <span class="gradient-green">signed NDAs.</span> This ensures the privacy of our theme buyers, which we take very seriously.
            </h4>
        </div>

        <div class="support-section__stats">
            <div class="support-section__content support-section__content--small">
                <h3 class="title">Up-to-Date Support Stats</h3>
                <div class="subtitle body-l">
                    We track key support metrics and continuously enhance them through agile sprints with our support lead and agents each month.
                </div>
            </div>

            <div class="support-section__stats-screen"><img srcset="__static__img/content/stats@2x.webp 2x, __static__img/content/stats.webp 1x" src="__static__img/content/stats@2x.webp" alt="" /></div>
            <div class="support-section__stats-btn">
                <a href="https://docs.google.com/spreadsheets/d/1MFH4FmH5X7rCNmE0Dh4GsHfjlIaML1i6lzA8qjGfqt8/edit#gid=743155767" class="button" target="_blank">View Document</a>
            </div>
        </div>

        <div class="support-section__fiches">
            <div class="support-section__fiches-item">
                <div class="support-section__fiches-label">3 381</div>
                <div class="support-section__fiches-text">Successfully closed tickets</div>
            </div>
            <div class="support-section__fiches-item">
                <div class="support-section__fiches-label">50</div>
                <div class="support-section__fiches-text">Average number of tickets per day</div>
            </div>
            <div class="support-section__fiches-item">
                <div class="support-section__fiches-label">3</div>
                <div class="support-section__fiches-text">Average replies per resolution</div>
            </div>
        </div>

        <div class="support-section__reviews">
            <div class="support-section__reviews-grid">
                <div class="support-section__reviews-content">
                    <div class="support-section__reviews-head">
                        <div class="support-section__reviews-count">90%</div>
                        <div class="support-section__reviews-label">Average Satisfaction&nbsp;Score</div>
                    </div>
                    <div class="subtitle body-l">We consistently monitor satisfaction scores to ensure they reflect our commitment to exceptional customer service.</div>
                </div>

                <div class="support-section__reviews-sidebar">
                    <div class="support-section__reviews-image"><img srcset="__static__img/content/reviews@2x.webp 2x, __static__img/content/reviews.webp 1x" src="__static__img/content/reviews@2x.webp" alt="" /></div>
                </div>
                <a href="https://docs.google.com/spreadsheets/d/1pn9vFmR3_gkw5UOGRkACzLiqhhFE1V79JPt9y0A0zHY/edit#gid=0" class="button" target="_blank">View Document</a>
            </div>

            <div class="support-section__content">
                <h3 class="title title--medium">A Few Reviews About Our Themes</h3>
                <div>
                    Here’re a couple of recent reviews about other themes:
                </div>
            </div>

            <div class="support-section__reviews-list">
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-1@2x.webp 2x, __static__img/content/reviews/review-1.webp 1x" src="__static__img/content/reviews/review-1@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="https://themes.shopify.com/themes/stockmart/styles/modern?surface_inter_position=4&surface_intra_position=5&surface_type=all" target="_blank">Stockmart Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-2@2x.webp 2x, __static__img/content/reviews/review-2.webp 1x" src="__static__img/content/reviews/review-2@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="https://themes.shopify.com/themes/stockholm/styles/default?surface_inter_position=6&surface_intra_position=20&surface_type=all" target="_blank">Stockholm Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-3@2x.webp 2x, __static__img/content/reviews/review-3.webp 1x" src="__static__img/content/reviews/review-3@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="https://themes.shopify.com/themes/monaco/styles/allure?surface_inter_position=4&surface_intra_position=3&surface_type=all" target="_blank">Monaco Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-4@2x.webp 2x, __static__img/content/reviews/review-4.webp 1x" src="__static__img/content/reviews/review-4@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="https://themes.shopify.com/themes/barcelona/styles/clean?surface_inter_position=6&surface_intra_position=18&surface_type=all" target="_blank">Barcelona Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-5@2x.webp 2x, __static__img/content/reviews/review-5.webp 1x" src="__static__img/content/reviews/review-5@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="https://themes.shopify.com/themes/minimalista/styles/graphite?reviews_page=2&surface_inter_position=1&surface_intra_position=17&surface_type=all#Reviews" target="_blank">Minimalista Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-6@2x.webp 2x, __static__img/content/reviews/review-6.webp 1x" src="__static__img/content/reviews/review-6@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="https://themes.shopify.com/themes/portland/styles/heartbeat?surface_inter_position=7&surface_intra_position=16&surface_type=all" target="_blank">Portland Theme</a></div>
                </div>
            </div>
        </div>

        <div class="support-section__stats">
            <div class="support-section__content support-section__content--small">
                <h3 class="title">Bug Tracker</h3>
                <div class="subtitle body-l">
                    Every bug reported by a theme user is logged in Asana and addressed by our theme developers. Once we accumulate a certain number of bug fixes, we roll out a new version of the theme.
                </div>
            </div>

            <div class="support-section__stats-screen support-section__stats-screen_asana"><img srcset="__static__img/content/asana@2x.webp 2x, __static__img/content/asana.webp 1x" src="__static__img/content/asana@2x.webp" alt="" /></div>
        </div>

        <div class="support-section__stats" id="updates">
            <div class="support-section__content support-section__content_full">
                <h3 class="title">Regular and Mandatory Theme Updates</h3>
                <div class="subtitle subtitle--small body-l">
                    Thanks to a large number of Shopify developers in our team we’re capable to address mandatory theme updates as well as introduce new features. We keep track of those too.
                </div>
            </div>

            <div class="support-section__stats-screen support-section__stats-screen_updates"><img srcset="__static__img/content/updates@2x.webp 2x, __static__img/content/updates.webp 1x" src="__static__img/content/updates@2x.webp" alt="" /></div>
            <div class="support-section__stats-btn">
                <a href="https://docs.google.com/spreadsheets/d/1RUFBGItWQ4IxH5X97hKsgVsw7_18-Gj6M75GZV6W62s/edit#gid=0" class="button" target="_blank">View Document</a>
            </div>
        </div>

        <div class="support-section__info">
            <h4 class="title title_medium">
                We <span class="gradient-green">regularly update all our themes</span> to enhance their quality and functionality. We introduce new features and ensure they are implemented across all our themes to their full capacity.
            </h4>
        </div>

        <div class="support-section__stats support-section__stats_nomargin-btm">
            <div class="support-section__content support-section__content--small">
                <h3 class="title">Changelog</h3>
                <div class="subtitle body-l">
                    Our themes' changelogs serve as proof that our themes receive all necessary and regular updates.
                </div>
            </div>

            <div class="support-section__changelog">
                <div class="support-section__changelog-head">
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Theme Name</div>
                        <div class="support-section__changelog-column">Version</div>
                        <div class="support-section__changelog-column">Latest Update</div>
                    </div>
                </div>
                <div class="support-section__changelog-body">
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Aesthetic</div>
                        <div class="support-section__changelog-column">1.0.2</div>
                        <div class="support-section__changelog-column">March 22, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Barcelona</div>
                        <div class="support-section__changelog-column">1.0.2</div>
                        <div class="support-section__changelog-column">March 25, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Berlin</div>
                        <div class="support-section__changelog-column">1.1.2</div>
                        <div class="support-section__changelog-column">March 22, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Digital</div>
                        <div class="support-section__changelog-column">1.0.1</div>
                        <div class="support-section__changelog-column">March 19, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Essentials</div>
                        <div class="support-section__changelog-column">1.0.2</div>
                        <div class="support-section__changelog-column">April 11, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Handmade</div>
                        <div class="support-section__changelog-column">2.0.5</div>
                        <div class="support-section__changelog-column">February 9, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Minimalista</div>
                        <div class="support-section__changelog-column">1.0.2</div>
                        <div class="support-section__changelog-column">April 1, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Monaco</div>
                        <div class="support-section__changelog-column">1.0.5</div>
                        <div class="support-section__changelog-column">March 20, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Portland</div>
                        <div class="support-section__changelog-column">2.0.5</div>
                        <div class="support-section__changelog-column">December 13, 2023</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Select</div>
                        <div class="support-section__changelog-column">1.0.1</div>
                        <div class="support-section__changelog-column">March 22, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Stockholm</div>
                        <div class="support-section__changelog-column">2.0.9</div>
                        <div class="support-section__changelog-column">April 1, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Stockmart</div>
                        <div class="support-section__changelog-column">1.1.3</div>
                        <div class="support-section__changelog-column">April 1, 2024</div>
                    </div>
                    <div class="support-section__changelog-row">
                        <div class="support-section__changelog-column">Sydney</div>
                        <div class="support-section__changelog-column">1.1.2</div>
                        <div class="support-section__changelog-column">March 26, 2024</div>
                    </div>
                </div>
            </div>

            <h4 class="title title_medium">
                Every day, we devote significant time to each of our themes, consistently <span class="gradient-green">responding to customer inquiries</span>, enhancing features, and resolving any issues that arise.
            </h4>
        </div>
    </div>
</div>
