<div class="support-section" id="support">
    <div class="max-width">
        <div class="support-section__info">
            <div class="support-section__content">
                <div class="headline">Support</div>
                <h2 class="title">Support</h2>
                <div class="subtitle body-l">
                    Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit
                    nullam in non sem. Morbi fringilla elementum nunc diam. Eu hac sit at dignissim ornare
                    massa vulputate.
                </div>
            </div>

            <div class="support-section__people">
                <div class="support-section__person">
                    <div class="support-section__person-image"><img srcset="__static__img/content/team/ion@2x.webp 2x, __static__img/content/team/ion.webp 1x" src="__static__img/content/team/ion@2x.webp" alt="" /></div>
                    <h6 class="title support-section__person-name">Ion Burdianov</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"><img srcset="__static__img/content/team/hasti@2x.webp 2x, __static__img/content/team/hasti.webp 1x" src="__static__img/content/team/hasti@2x.webp" alt="" /></div>
                    <h6 class="title support-section__person-name">Hasti Patel</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"><img srcset="__static__img/content/team/mann@2x.webp 2x, __static__img/content/team/mann.webp 1x" src="__static__img/content/team/mann@2x.webp" alt="" /></div>
                    <h6 class="title support-section__person-name">Mann Patel</h6>
                    <div class="team-label team-label--support">Support Shopify Agent</div>
                </div>
                <div class="support-section__person">
                    <div class="support-section__person-image"><img srcset="__static__img/content/team/dmitrii@2x.webp 2x, __static__img/content/team/dmitrii.webp 1x" src="__static__img/content/team/dmitrii@2x.webp" alt="" /></div>
                    <h6 class="title support-section__person-name">Dmitrii Chempalov</h6>
                    <div class="team-label team-label--support">Support WordPress Agent</div>
                </div>
            </div>

            <h4 class="title title_medium">
                Our support team <span class="gradient-green">works full-time under NDA</span>. It is crucial
                for us that the team remains continuously engaged in supporting our products, so we provide
                all the necessary conditions for this.
            </h4>
        </div>

        <div class="support-section__stats">
            <div class="support-section__content">
                <h3 class="title">Statistics</h3>
                <div class="subtitle body-l">
                    Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit nullam in non sem. Morbi fringilla.
                </div>
            </div>

            <div class="support-section__stats-screen">Screen</div>
            <div class="support-section__stats-note">Lorem ipsum dolor sit amet consectetur. Porta faucibus aenean purus nec felis in.</div>
            <div class="support-section__stats-btn">
                <a href="#" class="button" target="_blank">View Document</a>
            </div>
        </div>

        <div class="support-section__fiches">
            <div class="support-section__fiches-item">
                <div class="support-section__fiches-icon"><img src="__static__img/content/time.svg" alt=""></div>
                <div class="support-section__fiches-label">12 min</div>
                <div class="support-section__fiches-text">Average response time</div>
            </div>
            <div class="support-section__fiches-item">
                <div class="support-section__fiches-icon"><img src="__static__img/content/chat.svg" alt=""></div>
                <div class="support-section__fiches-label">50</div>
                <div class="support-section__fiches-text">Average daily ticket processing</div>
            </div>
            <div class="support-section__fiches-item">
                <div class="support-section__fiches-icon"><img src="__static__img/content/smile.svg" alt=""></div>
                <div class="support-section__fiches-label">3 381</div>
                <div class="support-section__fiches-text">Successfully closed tickets</div>
            </div>
        </div>

        <div class="support-section__reviews">
            <div class="support-section__reviews-grid">
                <div class="support-section__reviews-content">
                    <h3 class="title">Reviews</h3>
                    <div class="subtitle body-l">Lorem ipsum dolor sit amet consectetur. Amet odio turpis justo egestas. Sed nibh suscipit nullam in non sem. Morbi fringilla elementum nunc diam. Eu hac.</div>
                    <a href="#" class="button" target="_blank">View Document</a>
                </div>

                <div class="support-section__reviews-sidebar">
                    <div class="support-section__reviews-image"><img srcset="__static__img/content/reviews@2x.webp 2x, __static__img/content/reviews.webp 1x" src="__static__img/content/reviews@2x.webp" alt="" /></div>
                    <div class="support-section__reviews-note">Lorem ipsum dolor sit amet consectetur. Porta faucibus aenean purus nec felis in.</div>
                </div>
            </div>

            <div class="support-section__content">
                <h3 class="title">Here Are a Few Reviews About Our&nbsp;Themes</h3>
            </div>

            <div class="support-section__reviews-list">
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-1@2x.webp 2x, __static__img/content/reviews/review-1.webp 1x" src="__static__img/content/reviews/review-1@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="#" target="_blank">Stockmart Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-2@2x.webp 2x, __static__img/content/reviews/review-2.webp 1x" src="__static__img/content/reviews/review-2@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="#" target="_blank">Stockholm Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-3@2x.webp 2x, __static__img/content/reviews/review-3.webp 1x" src="__static__img/content/reviews/review-3@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="#" target="_blank">Monaco Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-4@2x.webp 2x, __static__img/content/reviews/review-4.webp 1x" src="__static__img/content/reviews/review-4@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="#" target="_blank">Barcelona Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-5@2x.webp 2x, __static__img/content/reviews/review-5.webp 1x" src="__static__img/content/reviews/review-5@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="#" target="_blank">Minimalista Theme</a></div>
                </div>
                <div class="support-section__reviews-item">
                    <div class="support-section__reviews-text">
                        <img srcset="__static__img/content/reviews/review-6@2x.webp 2x, __static__img/content/reviews/review-6.webp 1x" src="__static__img/content/reviews/review-6@2x.webp" alt="" />
                    </div>
                    <div class="support-section__reviews-more">Review on the <a href="#" target="_blank">Portland Theme</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
