<div class="intro-section" id="intro">
    <div class="max-width">
        <div class="headline">who we are</div>
        <h2 class="title">Nearly a Decade in Theme Business</h2>
        <div class="intro-section__content">
            <div class="subtitle body-l">
                While we’re newer theme developers on the Shopify platform,&nbsp;we’ve been creating premium templates since 2015.
            </div>
            <div class="subtitle body-l">
                Having started as a small team, we’ve grown to a full-fledged business with established and smooth processes.
            </div>
        </div>

        <div class="intro-section__grid">
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h2">22</div>
                <div class="intro-section__grid-label headline">WordPress themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/envato-logo.svg" alt="" />
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h2">5</div>
                <div class="intro-section__grid-label headline">WordPress plugins</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/wp-logo.svg" alt="" />
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h2">14</div>
                <div class="intro-section__grid-label headline">Shopify themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/shopify-logo.svg" alt="" />
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h2">6</div>
                <div class="intro-section__grid-label headline">Ghost themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/ghost-logo.svg" alt="" />
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h2">3</div>
                <div class="intro-section__grid-label headline">WooCommerce themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/woo-logo.svg" alt="" />
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h2">2</div>
                <div class="intro-section__grid-label headline">HubSpot themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/hubspot-logo.svg" alt="" />
                </div>
            </div>
        </div>

        <div class="intro-section__rate">
            <div class="intro-section__rate-block">
                <div class="title h5">25k sales of WordPress theme licenses sold with 4.86 average rating</div>
                <div class="intro-section__rate-text">
                    Since 2015 we’ve sold an enormous amount of theme licenses on ThemeForest and maintained the extremely high rating of 4.86.
                </div>
                <div class="intro-section__rate-btn">
                    <a
                        href="https://themeforest.net/user/codesupplyco"
                        class="button"
                        target="_blank"
                    >
                        View On ThemeForest
                    </a>
                </div>
            </div>

            <div class="intro-section__rate-block">
                <img src="__static__img/content/intro-rate.svg" alt="" />
            </div>
        </div>
    </div>
</div>
