<div class="intro-section" id="intro">
    <div class="max-width">
        <div class="headline">who we are</div>
        <h2 class="title">Hac dui vestibulum vestibulum luctus lorem vulputate in nisi</h2>
        <div class="intro-section__content">
            <div class="subtitle body-l">
                Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum in vulputate hac
                molestie adipiscing dictum. Ornare est. Sit non ornare sapien tempus mollis dapibus
            </div>
            <div class="subtitle body-l">
                Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum in vulputate hac
                molestie adipiscing dictum. Ornare est. Sit non ornare sapien tempus mollis dapibus
            </div>
        </div>

        <div class="intro-section__grid">
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h3">22</div>
                <div class="intro-section__grid-label headline">themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/wp-logo.svg" alt="" />
                </div>
                <div class="intro-section__grid-text">
                    Integer amet dictum in hac molestie adipiscing dictum. Ornare est. Sit non ornare sapien
                    tempus mollis dapibus
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h3">5</div>
                <div class="intro-section__grid-label headline">plugins</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/wp-logo.svg" alt="" />
                </div>
                <div class="intro-section__grid-text">
                    Integer amet dictum in hac molestie adipiscing dictum. Ornare est. Sit non ornare sapien
                    tempus mollis dapibus
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h3">14</div>
                <div class="intro-section__grid-label headline">themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/shopify-logo.svg" alt="" />
                </div>
                <div class="intro-section__grid-text">
                    Integer amet dictum in hac molestie adipiscing dictum. Ornare est. Sit non ornare sapien
                    tempus mollis dapibus
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h3">6</div>
                <div class="intro-section__grid-label headline">themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/ghost-logo.svg" alt="" />
                </div>
                <div class="intro-section__grid-text">
                    Integer amet dictum in hac molestie adipiscing dictum. Ornare est. Sit non ornare sapien
                    tempus mollis dapibus
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h3">3</div>
                <div class="intro-section__grid-label headline">themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/woo-logo.svg" alt="" />
                </div>
                <div class="intro-section__grid-text">
                    Integer amet dictum in hac molestie adipiscing dictum. Ornare est. Sit non ornare sapien
                    tempus mollis dapibus
                </div>
            </div>
            <div class="intro-section__grid-item">
                <div class="intro-section__grid-number title h3">2</div>
                <div class="intro-section__grid-label headline">themes</div>
                <div class="intro-section__grid-logo">
                    <img src="__static__img/content/hubspot-logo.svg" alt="" />
                </div>
                <div class="intro-section__grid-text">
                    Integer amet dictum in hac molestie adipiscing dictum. Ornare est. Sit non ornare sapien
                    tempus mollis dapibus
                </div>
            </div>
        </div>

        <div class="intro-section__rate">
            <div class="intro-section__rate-block">
                <div class="intro-section__rate-star">
                    <img src="__static__img/content/star-big.svg" alt="" />
                    <div class="title h3 intro-section__rate-text">4.86</div>
                </div>
                <div class="title h3 intro-section__rate-text">
                    Average Themes Rating on ThemeForest by Envato
                </div>
                <div class="intro-section__rate-btn">
                    <a
                        href="https://docs.google.com/spreadsheets/d/1RUFBGItWQ4IxH5X97hKsgVsw7_18-Gj6M75GZV6W62s/edit#gid=0"
                        class="button"
                        target="_blank"
                    >
                        View On ThemeForest
                    </a>
                </div>
            </div>

            <div class="intro-section__rate-block">
                <img src="__static__img/content/intro-rate.svg" alt="" />
            </div>
        </div>
    </div>
</div>
