<div class="team-section" id="team">
    <div class="max-width">
        <div class="team-section__grid">
            <div class="team-section__content">
                <div class="headline">Our Team</div>
                <h2 class="title">
                    We are a Team of Passionate Experts with <span class="gradient-green">9 Years</span> under
                    Our Belts
                </h2>
                <div class="subtitle body-l">
                    Since 2015, our themes have been featured on the Themeforest homepage, surpassing 24,000
                    sales with an impressive average rating of 4.86
                </div>
            </div>
        </div>

        <div class="team-section__structure">
            <div class="team-section__structure-grid">
                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/sergey@2x.webp 2x,
                                        __static__img/content/team/sergey.webp    1x
                                    "
                                    src="__static__img/content/team/sergey@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Sergey<br>Sedykh</div>
                            <div class="team-section__structure-label">CEO</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/evgeny@2x.webp 2x,
                                        __static__img/content/team/evgeny.webp    1x
                                    "
                                    src="__static__img/content/team/evgeny@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Evgeny<br>Kostin</div>
                            <div class="team-section__structure-label">Product Manager</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/seda-h@2x.webp 2x,
                                        __static__img/content/team/seda-h.webp    1x
                                    "
                                    src="__static__img/content/team/seda-h@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Seda<br>Hakobyan</div>
                            <div class="team-section__structure-label">Office Manager</div>
                        </div>
                    </div>
                    <div class="team-label team-label--managment">Managment and Service</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/alina-l@2x.webp 2x,
                                        __static__img/content/team/alina-l.webp    1x
                                    "
                                    src="__static__img/content/team/alina-l@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Alina<br>Lebedeva</div>
                            <div class="team-section__structure-label">UX/UI Designer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/liza@2x.webp 2x,
                                        __static__img/content/team/liza.webp    1x
                                    "
                                    src="__static__img/content/team/liza@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Elizaveta<br>Ermakova</div>
                            <div class="team-section__structure-label">UX/UI Designer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/olga@2x.webp 2x,
                                        __static__img/content/team/olga.webp    1x
                                    "
                                    src="__static__img/content/team/olga@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Olga<br>Rafikova</div>
                            <div class="team-section__structure-label">UX/UI Designer</div>
                        </div>
                    </div>
                    <div class="team-label team-label--design">UX/UI Designers Team</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/ion@2x.webp 2x,
                                        __static__img/content/team/ion.webp    1x
                                    "
                                    src="__static__img/content/team/ion@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Ion<br>Burdianov</div>
                            <div class="team-section__structure-label">Support Agent</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/mann@2x.webp 2x,
                                        __static__img/content/team/mann.webp    1x
                                    "
                                    src="__static__img/content/team/mann@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Mann<br>Patel</div>
                            <div class="team-section__structure-label">Support Agent</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/hasti@2x.webp 2x,
                                        __static__img/content/team/hasti.webp    1x
                                    "
                                    src="__static__img/content/team/hasti@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Hasti<br>Patel</div>
                            <div class="team-section__structure-label">Support Agent</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/dmitrii@2x.webp 2x,
                                        __static__img/content/team/dmitrii.webp    1x
                                    "
                                    src="__static__img/content/team/dmitrii@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Dmitrii<br>Chempalov</div>
                            <div class="team-section__structure-label">Support Agent</div>
                        </div>
                    </div>
                    <div class="team-label team-label--support">Support Team</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/alina-g@2x.webp 2x,
                                        __static__img/content/team/alina-g.webp    1x
                                    "
                                    src="__static__img/content/team/alina-g@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Alina<br>Gladkova</div>
                            <div class="team-section__structure-label">Shopify Developer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/sveta@2x.webp 2x,
                                        __static__img/content/team/sveta.webp    1x
                                    "
                                    src="__static__img/content/team/sveta@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Svetlana<br>Brezhneva</div>
                            <div class="team-section__structure-label">Shopify Developer</div>
                        </div>
                    </div>
                    <div class="team-label team-label--shopify">Shopify Developers Team #1</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/andrey@2x.webp 2x,
                                        __static__img/content/team/andrey.webp    1x
                                    "
                                    src="__static__img/content/team/andrey@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Andrey<br>Suponev</div>
                            <div class="team-section__structure-label">Shopify Developer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/nastya@2x.webp 2x,
                                        __static__img/content/team/nastya.webp    1x
                                    "
                                    src="__static__img/content/team/nastya@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Anastasia<br>Govorova</div>
                            <div class="team-section__structure-label">Shopify Developer</div>
                        </div>
                    </div>
                    <div class="team-label team-label--shopify">Shopify Developers Team #2</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/narek-m@2x.webp 2x,
                                        __static__img/content/team/narek-m.webp    1x
                                    "
                                    src="__static__img/content/team/narek-m@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Narek<br>Movsisyan</div>
                            <div class="team-section__structure-label">Shopify Developer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/narek-t@2x.webp 2x,
                                        __static__img/content/team/narek-t.webp    1x
                                    "
                                    src="__static__img/content/team/narek-t@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Narek<br>Tiratsuyan</div>
                            <div class="team-section__structure-label">Shopify Developer</div>
                        </div>
                    </div>
                    <div class="team-label team-label--shopify">Shopify Developers Team #3</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/aram@2x.webp 2x,
                                        __static__img/content/team/aram.webp    1x
                                    "
                                    src="__static__img/content/team/aram@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Aram<br>Balayan</div>
                            <div class="team-section__structure-label">Shopify Developer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/sona@2x.webp 2x,
                                        __static__img/content/team/sona.webp    1x
                                    "
                                    src="__static__img/content/team/sona@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Sona<br>Sargsyan</div>
                            <div class="team-section__structure-label">Shopify Developer</div>
                        </div>
                    </div>
                    <div class="team-label team-label--shopify">Shopify Developers Team #4</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/seda-n@2x.webp 2x,
                                        __static__img/content/team/seda-n.webp    1x
                                    "
                                    src="__static__img/content/team/seda-n@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Seda<br>Navoyan</div>
                            <div class="team-section__structure-label">Content Manager</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/yeranuhi@2x.webp 2x,
                                        __static__img/content/team/yeranuhi.webp    1x
                                    "
                                    src="__static__img/content/team/yeranuhi@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Yeranuhi<br>Nersisyan</div>
                            <div class="team-section__structure-label">Content Manager</div>
                        </div>
                    </div>
                    <div class="team-label team-label--content">Content Team</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/nikita-s@2x.webp 2x,
                                        __static__img/content/team/nikita-s.webp    1x
                                    "
                                    src="__static__img/content/team/nikita-s@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Nikita<br>Serov</div>
                            <div class="team-section__structure-label">Ghost Developer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/nikita-t@2x.webp 2x,
                                        __static__img/content/team/nikita-t.webp    1x
                                    "
                                    src="__static__img/content/team/nikita-t@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Nikita<br>Tolkachev</div>
                            <div class="team-section__structure-label">Ghost Developer</div>
                        </div>
                    </div>
                    <div class="team-label team-label--ghost">Ghost Developers Team</div>
                </div>

                <div class="team-section__structure-item">
                    <div class="team-section__structure-list">
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/alexey-sh@2x.webp 2x,
                                        __static__img/content/team/alexey-sh.webp    1x
                                    "
                                    src="__static__img/content/team/alexey-sh@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Alexey<br>Shaposhnikov</div>
                            <div class="team-section__structure-label">WP Developer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/alexey-v@2x.webp 2x,
                                        __static__img/content/team/alexey-v.webp    1x
                                    "
                                    src="__static__img/content/team/alexey-v@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Alexey<br>Vedernikov</div>
                            <div class="team-section__structure-label">WP Developer</div>
                        </div>
                        <div class="team-section__structure-person">
                            <div class="team-section__structure-photo">
                                <img
                                    srcset="
                                        __static__img/content/team/kirill@2x.webp 2x,
                                        __static__img/content/team/kirill.webp    1x
                                    "
                                    src="__static__img/content/team/kirill@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="team-section__structure-name">Kirill<br>Korolev</div>
                            <div class="team-section__structure-label">WP Developer</div>
                        </div>
                    </div>
                    <div class="team-label team-label--wp">WordPress Developers Team</div>
                </div>
            </div>
        </div>
    </div>
</div>
