<div class="uniqueness-section" id="uniqueness">
    <div class="max-width">
        <div class="uniqueness-section__content">
            <div class="headline">Uniqueness</div>
            <h2 class="title">The Uniqueness of Our Themes</h2>
            <div class="subtitle body-l">
                Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum in vulputate hac
                molestie adipiscing dictum. Ornare est. Sit non ornare sapien tempus mollis dapibus.
            </div>

            <div class="uniqueness-section__subsection">
                <h3 class="title">Themes in Progress</h3>
                <div class="uniqueness-section__themes">
                    <div class="uniqueness-section__themes-item">
                        <div class="uniqueness-section__themes-media">
                            <img
                                srcset="
                                    __static__img/content/paris@2x.webp 2x,
                                    __static__img/content/paris.webp    1x
                                "
                                src="__static__img/content/paris@2x.webp"
                                alt="Paris theme"
                            />
                        </div>
                        <h5 class="title">Paris</h5>
                        <div class="uniqueness-section__themes-text">
                            The theme features one demo entirely composed of slides. In the second demo, a
                            large logo size is utilized. Additionally, one of the demos will include only
                            black and white photos. The design itself is refined, evoking luxury and
                            sophistication.
                        </div>
                        <div class="uniqueness-section__themes-figma">
                            <img src="__static__img/content/figma-logo.svg" alt="" />
                            <a
                                href="https://www.figma.com/file/1DEnpEIpJLZVznjLbUiM6j/Paris?type=design&node-id=215%3A1193&mode=design&t=mmfJNf2UyET7UUPy-1"
                                target="_blank"
                                >Link on Figma</a
                            >
                        </div>
                    </div>
                    <div class="uniqueness-section__themes-item">
                        <div class="uniqueness-section__themes-media">
                            <img
                                srcset="
                                    __static__img/content/speciality@2x.webp 2x,
                                    __static__img/content/speciality.webp    1x
                                "
                                src="__static__img/content/speciality@2x.webp"
                                alt="Speciality theme"
                            />
                        </div>
                        <h5 class="title">Specialty</h5>
                        <div class="uniqueness-section__themes-text">
                            In this theme, all demos are dedicated to specialty coffee. The theme incorporates
                            all the necessary functionality required for coffee sellers: subscription page,
                            wholesale, a section with locations and partners, and much more needed by coffee
                            sellers.
                        </div>
                        <div class="uniqueness-section__themes-figma">
                            <img src="__static__img/content/figma-logo.svg" alt="" />
                            <a
                                href="https://www.figma.com/file/moVBVSJgLidBYlcBhcqhbo/Specialty?type=design&node-id=1786%3A971&mode=design&t=9AWtWgX1rNU1nnSn-1"
                                target="_blank"
                                >Link on Figma</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
