<div class="we-section">
    <div class="max-width">
        <div class="we-section__content">
            <div class="we-section__head">
                <h3 class="title">We Work Together Despite the&nbsp;Distance</h3>
                <div class="subtitle body-l">All our team members are bound by long-term contracts with non-disclosure agreements and work full-time. We prioritize long-term collaborations and keep all theme development in-house, never outsourcing</div>
            </div>

            <div class="we-section__map">
                <img srcset="__static__img/content/map@2x.webp 2x, __static__img/content/map.webp 1x" src="__static__img/content/map@2x.webp" alt="" />
            </div>

            <div class="we-section__grid">
                <div class="we-section__column">
                    <div class="we-section__flag"><img src="__static__img/content/flag-am.svg" alt=""></div>
                    <div class="we-section__country">Armenia</div>

                    <div class="we-section__list">
                        <div class="we-section__person">
                            <div class="we-section__person-photo"><img srcset="__static__img/content/team/seda-h@2x.webp 2x, __static__img/content/team/seda-h.webp 1x" src="__static__img/content/team/seda-h@2x.webp" alt="" /></div>
                            <div class="we-section__person-about">
                                <div class="we-section__person-name">Seda Hakobyan</div>
                                <div class="we-section__person-label">Office Manager</div>
                            </div>
                        </div>

                        <div class="we-section__person">
                            <div class="we-section__person-photo"><img srcset="__static__img/content/team/narek-m@2x.webp 2x, __static__img/content/team/narek-m.webp 1x" src="__static__img/content/team/narek-m@2x.webp" alt="" /></div>
                            <div class="we-section__person-about">
                                <div class="we-section__person-name">Narek Movsisyan</div>
                                <div class="we-section__person-label">Shopify Developer</div>
                            </div>
                        </div>

                        <div class="we-section__person">
                            <div class="we-section__person-photo"><img srcset="__static__img/content/team/narek-t@2x.webp 2x, __static__img/content/team/narek-t.webp 1x" src="__static__img/content/team/narek-t@2x.webp" alt="" /></div>
                            <div class="we-section__person-about">
                                <div class="we-section__person-name">Narek Tiratsuyan</div>
                                <div class="we-section__person-label">Shopify Developer</div>
                            </div>
                        </div>

                        <div class="we-section__person">
                            <div class="we-section__person-photo"><img srcset="__static__img/content/team/aram@2x.webp 2x, __static__img/content/team/aram.webp 1x" src="__static__img/content/team/aram@2x.webp" alt="" /></div>
                            <div class="we-section__person-about">
                                <div class="we-section__person-name">Aram Balayan</div>
                                <div class="we-section__person-label">Shopify Developer</div>
                            </div>
                        </div>

                        <div class="we-section__person">
                            <div class="we-section__person-photo"><img srcset="__static__img/content/team/sona@2x.webp 2x, __static__img/content/team/sona.webp 1x" src="__static__img/content/team/sona@2x.webp" alt="" /></div>
                            <div class="we-section__person-about">
                                <div class="we-section__person-name">Sona Sargsyan</div>
                                <div class="we-section__person-label">Shopify Developer</div>
                            </div>
                        </div>

                        <div class="we-section__person">
                            <div class="we-section__person-photo"><img srcset="__static__img/content/team/nikita-s@2x.webp 2x, __static__img/content/team/nikita-s.webp 1x" src="__static__img/content/team/nikita-s@2x.webp" alt="" /></div>
                            <div class="we-section__person-about">
                                <div class="we-section__person-name">Nikita Serov</div>
                                <div class="we-section__person-label">Shopify Developer</div>
                            </div>
                        </div>

                        <div class="we-section__person">
                            <div class="we-section__person-photo"><img srcset="__static__img/content/team/yeranuhi@2x.webp 2x, __static__img/content/team/yeranuhi.webp 1x" src="__static__img/content/team/yeranuhi@2x.webp" alt="" /></div>
                            <div class="we-section__person-about">
                                <div class="we-section__person-name">Yeranuhi Nersisyan</div>
                                <div class="we-section__person-label">Content Manager</div>
                            </div>
                        </div>

                        <div class="we-section__person">
                            <div class="we-section__person-photo"><img srcset="__static__img/content/team/seda-n@2x.webp 2x, __static__img/content/team/seda-n.webp 1x" src="__static__img/content/team/seda-n@2x.webp" alt="" /></div>
                            <div class="we-section__person-about">
                                <div class="we-section__person-name">Seda Navoyan</div>
                                <div class="we-section__person-label">Content Manager</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
