<div class="we-section">
    <div class="max-width">
        <div class="we-section__content">
            <div class="we-section__head">
                <h3 class="title">We <span class="gradient-green">Work Together</span> Despite the&nbsp;Distance</h3>
                <div class="subtitle body-l">Half of our team is distributed, while the other half works in the office. Despite the distance, we manage to produce, maintain and support top-tier themes every day, adhering to the highest standards.</div>
            </div>
        </div>
    </div>

    <div class="we-section__map">
        <div class="we-section__map-mark we-section__map-mark_andora">
            <span><span></span></span>
            <img src="__static__img/content/flag-and.svg" alt="">
        </div>

        <div class="we-section__map-mark we-section__map-mark_ukraine">
            <span><span></span></span>
            <img src="__static__img/content/flag-ukr.svg" alt="">
        </div>

        <div class="we-section__map-mark we-section__map-mark_georgia">
            <span><span></span></span>
            <img src="__static__img/content/flag-ge.svg" alt="">
        </div>

        <div class="we-section__map-mark we-section__map-mark_armenia">
            <span><span></span></span>
            <img src="__static__img/content/flag-am.svg" alt="">
        </div>

        <div class="we-section__map-mark we-section__map-mark_moldova">
            <span><span></span></span>
            <img src="__static__img/content/flag-md.svg" alt="">
        </div>

        <div class="we-section__map-mark we-section__map-mark_india">
            <span><span></span></span>
            <img src="__static__img/content/flag-ind.svg" alt="">
        </div>

        <div class="we-section__map-mark we-section__map-mark_monte">
            <span><span></span></span>
            <img src="__static__img/content/flag-monte.png" alt="">
        </div>

        <img srcset="__static__img/content/map@2x.webp 2x, __static__img/content/map.webp 1x" src="__static__img/content/map@2x.webp" class="we-section__map-image" alt="" />
    </div>

    <div class="max-width">
        <div class="we-section__grid">
            <div class="we-section__column">
                <div class="we-section__flag"><img src="__static__img/content/flag-am.svg" alt=""></div>
                <div class="we-section__country">Armenia</div>

                <div class="we-section__list">
                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/seda-h@2x.webp 2x, __static__img/content/team/seda-h.webp 1x" src="__static__img/content/team/seda-h@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Seda Hakobyan</div>
                            <div class="we-section__person-label">Office Manager</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/narek-m@2x.webp 2x, __static__img/content/team/narek-m.webp 1x" src="__static__img/content/team/narek-m@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Narek Movsisyan</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/narek-t@2x.webp 2x, __static__img/content/team/narek-t.webp 1x" src="__static__img/content/team/narek-t@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Narek Tiratsuyan</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/evgeny@2x.webp 2x, __static__img/content/team/evgeny.webp 1x" src="__static__img/content/team/evgeny@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Evgeny Kostin</div>
                            <div class="we-section__person-label">Product Manager</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/nikita-t@2x.webp 2x, __static__img/content/team/nikita-t.webp 1x" src="__static__img/content/team/nikita-t@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Nikita Tolkachev</div>
                            <div class="we-section__person-label">Ghost Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/aram@2x.webp 2x, __static__img/content/team/aram.webp 1x" src="__static__img/content/team/aram@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Aram Balayan</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/sona@2x.webp 2x, __static__img/content/team/sona.webp 1x" src="__static__img/content/team/sona@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Sona Sargsyan</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/nikita-s@2x.webp 2x, __static__img/content/team/nikita-s.webp 1x" src="__static__img/content/team/nikita-s@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Nikita Serov</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/yeranuhi@2x.webp 2x, __static__img/content/team/yeranuhi.webp 1x" src="__static__img/content/team/yeranuhi@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Yeranuhi Nersisyan</div>
                            <div class="we-section__person-label">Content Manager</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/seda-n@2x.webp 2x, __static__img/content/team/seda-n.webp 1x" src="__static__img/content/team/seda-n@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Seda Navoyan</div>
                            <div class="we-section__person-label">Content Manager</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="we-section__column">
                <div class="we-section__flag"><img src="__static__img/content/flag-ge.svg" alt=""></div>
                <div class="we-section__country">Georgia</div>

                <div class="we-section__list">
                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/alina-g@2x.webp 2x, __static__img/content/team/alina-g.webp 1x" src="__static__img/content/team/alina-g@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Alina Gladkova</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/andrey@2x.webp 2x, __static__img/content/team/andrey.webp 1x" src="__static__img/content/team/andrey@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Andrey Suponev</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/nastya@2x.webp 2x, __static__img/content/team/nastya.webp 1x" src="__static__img/content/team/nastya@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Anastasia Govorova</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/sveta@2x.webp 2x, __static__img/content/team/sveta.webp 1x" src="__static__img/content/team/sveta@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Svetlana Brezhneva</div>
                            <div class="we-section__person-label">Shopify Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/liza@2x.webp 2x, __static__img/content/team/liza.webp 1x" src="__static__img/content/team/liza@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Elizaveta Ermakova</div>
                            <div class="we-section__person-label">UX/UI Designer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/dmitrii@2x.webp 2x, __static__img/content/team/dmitrii.webp 1x" src="__static__img/content/team/dmitrii@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Dmitrii Chempalov</div>
                            <div class="we-section__person-label">Support Agent</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/alexey-v@2x.webp 2x, __static__img/content/team/alexey-v.webp 1x" src="__static__img/content/team/alexey-v@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Alexey Vedernikov</div>
                            <div class="we-section__person-label">WP Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/kirill@2x.webp 2x, __static__img/content/team/kirill.webp 1x" src="__static__img/content/team/kirill@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Kirill Korolev</div>
                            <div class="we-section__person-label">WP Developer</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/alina-l@2x.webp 2x, __static__img/content/team/alina-l.webp 1x" src="__static__img/content/team/alina-l@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Alina Lebedeva</div>
                            <div class="we-section__person-label">UX/UI Designer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="we-section__column">

                <div class="we-section__flag"><img src="__static__img/content/flag-and.svg" alt=""></div>
                <div class="we-section__country">Andorra</div>
                <div class="we-section__list">
                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/sergey@2x.webp 2x, __static__img/content/team/sergey.webp 1x" src="__static__img/content/team/sergey@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Sergey Sedykh</div>
                            <div class="we-section__person-label">CEO</div>
                        </div>
                    </div>
                </div>

                <div class="we-section__flag"><img src="__static__img/content/flag-monte.png" alt=""></div>
                <div class="we-section__country">Montenegro</div>

                <div class="we-section__list">
                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/olga@2x.webp 2x, __static__img/content/team/olga.webp 1x" src="__static__img/content/team/olga@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Olga Rafikova</div>
                            <div class="we-section__person-label">UX/UI Designer</div>
                        </div>
                    </div>
                </div>

                <div class="we-section__flag"><img src="__static__img/content/flag-ukr.svg" alt=""></div>
                <div class="we-section__country">Ukraine</div>

                <div class="we-section__list">
                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/alexey-sh@2x.webp 2x, __static__img/content/team/alexey-sh.webp 1x" src="__static__img/content/team/alexey-sh@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Alexey Shaposhnikov</div>
                            <div class="we-section__person-label">WP Developer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="we-section__column">
                <div class="we-section__flag"><img src="__static__img/content/flag-ind.svg" alt=""></div>
                <div class="we-section__country">India</div>

                <div class="we-section__list">
                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/hasti@2x.webp 2x, __static__img/content/team/hasti.webp 1x" src="__static__img/content/team/hasti@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Hasti Patel</div>
                            <div class="we-section__person-label">Support Agent</div>
                        </div>
                    </div>

                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/mann@2x.webp 2x, __static__img/content/team/mann.webp 1x" src="__static__img/content/team/mann@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Mann Patel</div>
                            <div class="we-section__person-label">Support Agent</div>
                        </div>
                    </div>
                </div>

                <div class="we-section__flag"><img src="__static__img/content/flag-md.svg" alt=""></div>
                <div class="we-section__country">Moldova</div>

                <div class="we-section__list">
                    <div class="we-section__person">
                        <div class="we-section__person-photo"><img srcset="__static__img/content/team/ion@2x.webp 2x, __static__img/content/team/ion.webp 1x" src="__static__img/content/team/ion@2x.webp" alt="" /></div>
                        <div class="we-section__person-about">
                            <div class="we-section__person-name">Ion Burdianov</div>
                            <div class="we-section__person-label">Support Agent</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
