/*! We Section
-------------------
 */
.we-section {
    margin: 64px 0 0;

    @include laptop {
        margin: 136px 0 0;
    }

    &__head {
        max-width: 790px;

        @include book {
            max-width: 740px;
        }

        .subtitle {
            margin: 0;
        }

        .title {
          margin: 0 0 16px;
        }
    }

    &__content {
        position:relative;
        z-index:2;
    }

    &__map {
        margin: -6rem auto -10rem;
        display: table;
        position: relative;
        overflow: hidden;

        @include laptop {
            margin: -26rem auto -34rem;
        }

        &-image {
            height: 550px;
            object-fit: cover;

            @include laptop {
                height: 1678px;
            }
        }

        &-mark {
            position: absolute;
            z-index: 2;
            display: flex;
            align-items: center;
            gap: 10px;
            left: 50%;
            top: 50%;

            @include laptop {
                gap: 14px;
            }

            span {
                width: 10px;
                height: 10px;
                background: #4ba820;
                border-radius: 50%;
                display: block;
                transition: var(--transition);

                @include laptop {
                    width: 14px;
                    height: 14px;
                }

                span {
                    box-shadow: 0 0 0 10px rgba(80, 196, 78, 0.2);
                    transform: scale(1);
                    animation: blinkMark 2s infinite;

                    @keyframes blinkMark {
                        0% {
                            transform: scale(0.95);
                            box-shadow: 0 0 0 0 rgba(80, 196, 78, 0.4);
                        }

                        70% {
                            transform: scale(1);
                            box-shadow: 0 0 0 10px rgba(80, 196, 78, 0);
                        }

                        100% {
                            transform: scale(0.95);
                            box-shadow: 0 0 0 0 rgba(80, 196, 78, 0);
                        }
                    }
                }
            }

            img {
                height: 14px;
                width: auto;

                @include laptop {
                    height: 17px;
                }
            }

            &_andora {
                transform: translate(-167px, -30px);

                @include laptop {
                    transform: translate(-506px, -74px);
                }
            }

            &_ukraine {
                transform: translate(-80px, -44px);

                @include laptop {
                    transform: translate(-238px, -121px);
                }
            }

            &_georgia {
                transform: translate(-53px, -26px);

                @include laptop {
                    transform: translate(-165px, -64px);
                }
            }

            &_moldova {
                transform: translate(-91px, -74px);
                flex-direction: column-reverse;

                @include laptop {
                    transform: translate(-262px, -160px);
                }
            }

            &_armenia {
                transform: translate(-53px, -30px);

                @include laptop {
                    transform: translate(-165px, -64px);
                }

                img {
                    margin-top: 25px;
                }
            }

            &_india {
                transform: translate(35px, 40px);

                @include laptop {
                    transform: translate(110px, 145px);
                }
            }

            &_russia {
                transform: translate(0, -80px);

                @include laptop {
                    transform: translate(0, -196px);
                }
            }

            &_monte {
                transform: translate(-122px, -31px);
                flex-direction: column;

                @include laptop {
                    transform: translate(-357px, -75px);
                }
            }
        }
    }

    &__grid {
        margin: 0 auto;
        max-width: 1330px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        z-index: 2;
        gap: 66px;

        @include mini {
            grid-template-columns: repeat(1, 1fr);
        }

        @include laptop {
            gap: 0;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__list {
        margin: 0 0 4.125rem;

        &:last-child {
            margin: 0;
        }
    }

    &__flag {
        margin: 0 0 0.5rem;

        img {
            height: 26px;
            width: auto;
            border-radius: 8px;
            border:1px solid #D4D4D4;
        }
    }

    &__country {
        margin: 0 0 1.875rem;
        color: #000;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.04em;
    }

    &__person {
        margin: 0 0 1.5rem;
        display: flex;
        align-items: center;
        gap: 10px;

        &-photo {
            flex-shrink: 0;
            width: 44px;
            height: 44px;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        &-name {
            font-weight: 500;
            margin: 0 0 2px;
        }

        &-label {
            color: var(--color-gray-2);
            font-size: 0.75rem;
            font-weight: 500;
        }

        &:last-child {
            margin: 0;
        }
    }
}
