<div class="final-section">
    <div class="max-width">
        <div class="final-section__desc">
            <div class="support-section__fiches">
                <div class="support-section__fiches-item">
                    <div class="support-section__fiches-label">3</div>
                    <div class="support-section__fiches-text">Days required for design and development</div>
                </div>
                <div class="support-section__fiches-item">
                    <div class="support-section__fiches-label">6</div>
                    <div class="support-section__fiches-text">People involved in the project</div>
                </div>
            </div>

            <h4 class="title title_medium">
                We're so passionate about what we do that we whipped up this presentation
                <span class="gradient-green">in two days with a team of six people</span> to show just how
                important every little detail of the process is to us, and how much we value our partnership
                with Shopify
            </h4>
        </div>
    </div>

    <div class="final-section__end">
        <div class="max-width">
            <div class="final-section__logo">
                <a href="https://ashstonestudios.com/" target="_blank"
                    ><img src="__static__img/content/logo.png" class="logo-ashstone" alt=""
                /></a>
                <img src="__static__img/content/x.svg" alt="" />
                <a href="https://www.shopify.com/" target="_blank"
                    ><img src="__static__img/content/shopify.png" class="logo-shopify" alt=""
                /></a>
            </div>

            <div class="title h1">
                <span class="semibold"
                    >Velit justo sed orci, ornare dictum est. Sit quam, lectus tortor. </span
                ><span>Ipsum faucibus. </span>
            </div>

            <div class="intro-section__content">
                <div class="subtitle body-l">
                    Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum in vulputate
                    hac molestie adipiscing dictum. Ornare est. Sit non ornare sapien tempus mollis dapibus
                </div>
                <div class="subtitle body-l">
                    Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum in vulputate
                    hac molestie adipiscing dictum. Ornare est. Sit non ornare sapien tempus mollis dapibus
                </div>
            </div>

            <div class="final-section__fiches">
                <div class="final-section__fiches-list">
                    <div class="final-section__fiches-item">
                        <div class="final-section__fiches-count">01</div>
                        <div class="final-section__fiches-about">
                            <h5 class="title">Sit non ornare sapien</h5>
                            <div class="subtitle">
                                Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum
                                in vulputate
                            </div>
                        </div>
                    </div>
                    <div class="final-section__fiches-item">
                        <div class="final-section__fiches-count">02</div>
                        <div class="final-section__fiches-about">
                            <h5 class="title">Sit non ornare sapien</h5>
                            <div class="subtitle">
                                Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum
                                in vulputate
                            </div>
                        </div>
                    </div>
                    <div class="final-section__fiches-item">
                        <div class="final-section__fiches-count">03</div>
                        <div class="final-section__fiches-about">
                            <h5 class="title">Sit non ornare sapien</h5>
                            <div class="subtitle">
                                Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum
                                in vulputate
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="final-section__text title h4">
              Ornare elit. Lorem lorem et sapien morbi in efficitur sed integer amet dictum in vulputate hac molestie adipiscing dictum. Ornare est. <span class="gradient-green">Sit non ornare sapien tempus</span> mollis dapibus
            </div>

            <div class="final-section__ceo">
                <div class="final-section__person">
                    <div class="final-section__person-photo">
                        <img
                            srcset="
                                __static__img/content/team/sergey@2x.webp 2x,
                                __static__img/content/team/sergey.webp    1x
                            "
                            src="__static__img/content/team/sergey@2x.webp"
                            alt=""
                        />
                    </div>
                    <div class="final-section__person-about">
                        <div class="final-section__person-name">Sergey Sedykh</div>
                        <div class="final-section__person-label">CEO Ashstone Studios</div>
                    </div>
                </div>

                <div class="final-section__contacts">
                    <div class="headline">Contacts</div>
                    <a href="mailto:sergey.sedykh@gmail.com">sergey.sedykh@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
