<div class="final-section">
    <div class="final-section__end">
        <div class="max-width">
            <div class="final-section__logo">
                <a href="https://ashstonestudios.com/" target="_blank"
                    ><img src="__static__img/content/logo.png" class="logo-ashstone" alt=""
                /></a>
                <img src="__static__img/content/x.svg" alt="" />
                <a href="https://www.shopify.com/" target="_blank"
                    ><img src="__static__img/content/shopify.png" class="logo-shopify" alt=""
                /></a>
            </div>

            <div class="title h1">Populate the Shopify theme catalog&nbsp;with unique, quality, and <br>well-supported themes</div>

            <div class="intro-section__content">
                <div class="subtitle body-l">
                    The presentation aimed to showcase that we at Ashstone&nbsp;Studios are capable not only of producing a wide array of themes, but regularly update and support them.
                </div>
                <div class="subtitle body-l">
                    We are eager to expand our cooperation and thus would like to offer solutions like no other theme developer on the platform:
                </div>
            </div>

            <div class="final-section__fiches">
                <div class="final-section__fiches-list">
                    <div class="final-section__fiches-item">
                        <div class="final-section__fiches-count">01</div>
                        <div class="final-section__fiches-about">
                            <h5 class="title">Approve concept and design&nbsp;prior development</h5>
                            <div class="subtitle">
                                We can send theme concepts and designs to theme reviewers prior development to make sure they’re a good fit to the theme catalog.
                            </div>
                        </div>
                    </div>
                    <div class="final-section__fiches-item">
                        <div class="final-section__fiches-count">02</div>
                        <div class="final-section__fiches-about">
                            <h5 class="title">Create single niche themes</h5>
                            <div class="subtitle">
                                Similar to our coffee-related theme we can create other single-niche themes, such as wholesale, car parts, etc.
                            </div>
                        </div>
                    </div>
                    <div class="final-section__fiches-item">
                        <div class="final-section__fiches-count">03</div>
                        <div class="final-section__fiches-about">
                            <h5 class="title">Fill catalog gaps upon request</h5>
                            <div class="subtitle">
                                If you have any catalog gaps, such as recently announced demand for Japanese market themes, we’re always at your disposal.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="final-section__text title h4">
                Just give us <span class="gradient-green">the green light</span>, and the Shopify theme catalog will benefit from unique and well-supported themes that look like they've been crafted by the best design agencies out there.
            </div>

            <div class="intro-section__content intro-section__content_quote" id="final">
                <div class="subtitle body-l">
                    I’m always open to discuss our partnership, concepts of upcoming theme releases, catalog gaps or any other requests. Feel free to reach out to me by email:
                </div>
            </div>

            <div class="final-section__ceo">
                <div class="final-section__person">
                    <div class="final-section__person-photo">
                        <img
                            srcset="
                                __static__img/content/team/sergey@2x.webp 2x,
                                __static__img/content/team/sergey.webp    1x
                            "
                            src="__static__img/content/team/sergey@2x.webp"
                            alt=""
                        />
                    </div>
                    <div class="final-section__person-about">
                        <div class="final-section__person-name">Sergey Sedykh</div>
                        <div class="final-section__person-label">CEO Ashstone Studios</div>
                    </div>
                </div>

                <div class="final-section__contacts">
                    <div class="headline">Contacts</div>
                    <a href="mailto:sergey@ashstonestudios.com">sergey@ashstonestudios.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
