/*! Final Section
----------------------
 */
.final-section {
    &__fiches {
        padding:5rem 0 0;

        &-list {
            display:grid;
            grid-template-columns:repeat(1,1fr);
            gap:2rem;

            @include tablet {
                gap:2.5rem;
                grid-template-columns:repeat(3,1fr);
            }

            @include desktop {
                gap:5rem;
            }
        }

        &-item {
            display:flex;
            gap:1rem;
        }

        &-count {
            display:flex;
            align-items:center;
            justify-content:center;
            width:64px;
            height:64px;
            border-radius:4px;
            background:#F5F5FA;
            font-size:1.5rem;
            font-weight:500;
            flex:none;

            @include tablet {
                width:80px;
                height:80px;
                border-radius:8px;
                background:#F5F5FA;
                font-size:2rem;
            }
        }

        &-about {
            .title {
                margin:0 0 .5rem;
                font-size:1.125rem;

                @include tablet {
                    font-size:1.375rem;
                }
            }

            .subtitle {
                @include mobile {
                    font-size:.875rem;
                }
            }
        }
    }

    &__desc {
        padding:5rem 0;

        .support-section__fiches {
            margin-bottom:2.5rem;
            display:flex;

            @include mobile {
                gap:0;
            }
        }

        @include tablet {
            padding:10rem 0;
        }

        .title {
            max-width:1068px;
        }
    }

    &__end {
        padding:3.5rem 0 2.5rem;
        position:relative;
        border-top: 1px solid #d8d8d8;

        .title {
            span:not(.semibold) {
                color: var(--color-gray);
            }
        }

        @include tablet {
            padding:10rem 0;
        }
    }

    .intro-section__content {
        margin:2.5rem 0;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin:0 0 2.5rem;
        gap: 0.75rem;
        position:relative;
        z-index:2;

        .logo-ashstone {
            height:14px;

            @include laptop {
                height:20px;
            }
        }

        .logo-shopify {
            height:30px;

            @include laptop {
                height:45px;
            }
        }
    }

    &__ceo {
        @include tablet {
            display:flex;
            align-items:center;
        }
    }

    &__person {
        display:flex;
        align-items:center;
        gap:10px;
        position:relative;
        z-index:2;
        margin:0 0 1.5rem;
        padding:0 0 1.5rem;
        border-bottom:1px solid #d4d4d4;

        @include tablet {
            margin:0 2.5rem 0 0;
            padding:0 2.5rem 0 0;
            border:0;
            border-right:1px solid #d4d4d4;
            justify-content:center;
        }

        &-photo {
            flex-shrink: 0;
            width:44px;
            height:44px;

            @include tablet {
                width:80px;
                height:80px;
            }

            img {
                width:100%;
                height:100%;
                display:block;
                object-fit:cover;
                border-radius:50%;
            }
        }

        &-name {
            font-size:1rem;
            font-weight:500;
            margin:0 0 2px;

            @include tablet {
                font-size:1.375rem;
            }
        }

        &-label {
            opacity:.7;
            font-weight:500;
            font-size:.875rem;

            @include tablet {
                font-size:1.063rem;
            }
        }
    }

    &__contacts {
        font-size:1.25rem;

        @include tablet {
            font-size:1.375rem;
        }

        .headline {
            margin:0 0 2px;
        }

        a:hover {
            opacity:.7;
        }
    }
}
