<div class="final-section">
    <div class="max-width">
        <div class="final-section__desc">
            <h4 class="title title_medium">
                We're so passionate about what we do that we whipped up this presentation <span class="gradient-green">in two days with a team of six people</span> to show just how important every little detail of the process is to us, and how much we value our partnership with Shopify
            </h4>
        </div>
    </div>

    <div class="final-section__end">
        <div class="max-width">
            <div class="final-section__logo">
                <a href="https://ashstonestudios.com/" target="_blank"><img src="__static__img/content/logo-white.png" class="logo-ashstone" alt=""></a>
                <img src="__static__img/content/x-white.svg" alt="">
                <a href="https://www.shopify.com/" target="_blank"><img src="__static__img/content/shopify-white.png" class="logo-shopify" alt=""></a>
            </div>

            <h1 class="title">Velit justo sed orci, ornare dictum est. Sit quam, lectus tortor. Ipsum faucibus. Venenatis in mauris consectetur </h1>

            <div class="final-section__person">
                <div class="final-section__person-photo"><img srcset="__static__img/content/team/sergey@2x.webp 2x, __static__img/content/team/sergey.webp 1x" src="__static__img/content/team/sergey@2x.webp" alt="" /></div>
                <div class="final-section__person-about">
                    <div class="final-section__person-name">Sergey Sedykh</div>
                    <div class="final-section__person-label">CEO</div>
                </div>
            </div>
        </div>

        <div class="final-section__photo final-section__photo_1">
            <img srcset="__static__img/content/team/evgeny@2x.webp 2x, __static__img/content/team/evgeny.webp 1x" src="__static__img/content/team/evgeny@2x.webp" alt="" class="show" />
            <img srcset="__static__img/content/team/alina-l@2x.webp 2x, __static__img/content/team/alina-l.webp 1x" src="__static__img/content/team/alina-l@2x.webp" alt="" />
            <img srcset="__static__img/content/team/nastya@2x.webp 2x, __static__img/content/team/nastya.webp 1x" src="__static__img/content/team/nastya@2x.webp" alt="" />
        </div>

        <div class="final-section__photo final-section__photo_2">
            <img srcset="__static__img/content/team/alexey-sh@2x.webp 2x, __static__img/content/team/alexey-sh.webp 1x" src="__static__img/content/team/alexey-sh@2x.webp" class="show" alt="" />
            <img srcset="__static__img/content/team/alexey-v@2x.webp 2x, __static__img/content/team/alexey-v.webp 1x" src="__static__img/content/team/alexey-v@2x.webp" alt="" />
            <img srcset="__static__img/content/team/dmitrii@2x.webp 2x, __static__img/content/team/dmitrii.webp 1x" src="__static__img/content/team/dmitrii@2x.webp" alt="" />
            <img srcset="__static__img/content/team/liza@2x.webp 2x, __static__img/content/team/liza.webp 1x" src="__static__img/content/team/liza@2x.webp" alt="" />
        </div>

        <div class="final-section__photo final-section__photo_3">
            <img srcset="__static__img/content/team/alina-g@2x.webp 2x, __static__img/content/team/alina-g.webp 1x" src="__static__img/content/team/alina-g@2x.webp" class="show" alt="" />
            <img srcset="__static__img/content/team/kirill@2x.webp 2x, __static__img/content/team/kirill.webp 1x" src="__static__img/content/team/kirill@2x.webp" alt="" />
            <img srcset="__static__img/content/team/narek-m@2x.webp 2x, __static__img/content/team/narek-m.webp 1x" src="__static__img/content/team/narek-m@2x.webp" alt="" />
            <img srcset="__static__img/content/team/nikita-s@2x.webp 2x, __static__img/content/team/nikita-s.webp 1x" src="__static__img/content/team/nikita-s@2x.webp" alt="" />
        </div>

        <div class="final-section__photo final-section__photo_4">
            <img srcset="__static__img/content/team/hasti@2x.webp 2x, __static__img/content/team/hasti.webp 1x" src="__static__img/content/team/hasti@2x.webp" class="show" alt="" />
            <img srcset="__static__img/content/team/nikita-t@2x.webp 2x, __static__img/content/team/nikita-t.webp 1x" src="__static__img/content/team/nikita-t@2x.webp" alt="" />
            <img srcset="__static__img/content/team/sona@2x.webp 2x, __static__img/content/team/sona.webp 1x" src="__static__img/content/team/sona@2x.webp" alt="" />
        </div>

        <div class="final-section__photo final-section__photo_5">
            <img srcset="__static__img/content/team/sveta@2x.webp 2x, __static__img/content/team/sveta.webp 1x" src="__static__img/content/team/sveta@2x.webp" class="show" alt="" />
            <img srcset="__static__img/content/team/narek-t@2x.webp 2x, __static__img/content/team/narek-t.webp 1x" src="__static__img/content/team/narek-t@2x.webp" alt="" />
            <img srcset="__static__img/content/team/yeranuhi@2x.webp 2x, __static__img/content/team/yeranuhi.webp 1x" src="__static__img/content/team/yeranuhi@2x.webp" alt="" />
        </div>

        <div class="final-section__photo final-section__photo_6">
            <img srcset="__static__img/content/team/andrey@2x.webp 2x, __static__img/content/team/andrey.webp 1x" src="__static__img/content/team/andrey@2x.webp" class="show" alt="" />
            <img srcset="__static__img/content/team/ion@2x.webp 2x, __static__img/content/team/ion.webp 1x" src="__static__img/content/team/ion@2x.webp" alt="" />
            <img srcset="__static__img/content/team/seda-h@2x.webp 2x, __static__img/content/team/seda-h.webp 1x" src="__static__img/content/team/seda-h@2x.webp" alt="" />
        </div>

        <div class="final-section__photo final-section__photo_7">
            <img srcset="__static__img/content/team/aram@2x.webp 2x, __static__img/content/team/aram.webp 1x" src="__static__img/content/team/aram@2x.webp" class="show" alt="" />
            <img srcset="__static__img/content/team/seda-n@2x.webp 2x, __static__img/content/team/seda-n.webp 1x" src="__static__img/content/team/seda-n@2x.webp" alt="" />
            <img srcset="__static__img/content/team/mann@2x.webp 2x, __static__img/content/team/mann.webp 1x" src="__static__img/content/team/mann@2x.webp" alt="" />
            <img srcset="__static__img/content/team/olga@2x.webp 2x, __static__img/content/team/olga.webp 1x" src="__static__img/content/team/olga@2x.webp" alt="" />
        </div>
    </div>
</div>
