<div class="copyright-section" id="copyright">
    <div class="max-width">
        <div class="copyright-section__content">
            <div class="headline">Copyright</div>
            <h2 class="title">A Serious Approach to <span class="gradient-green">Copyright</span></h2>
            <div class="subtitle body-l">
                We respect intellectual property rights and use only licensed content. In addition, we obtain
                official permits from stores to use their materials, ensuring that all our resources are
                obtained in accordance with the law and ethical standards.
            </div>
        </div>
    </div>
</div>
