/*! Copy Section
--------------------------
 */
.copy-section {
    padding:5rem 0;
    border-bottom: 1px solid #d8d8d8;

    @include laptop {
        padding:10rem 0;
    }

    &__head {
        margin:0 0 2.5rem;
        max-width:840px;

        @include book {
            max-width:760px;
        }

        &_medium {
            max-width:720px;

            @include book {
                max-width:660px;
            }
        }

        &_ai {
            max-width: unset;
            margin-bottom: 2.5rem;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 24px;

            & > div {
                max-width: 660px;
            }

            @include laptop {
                margin-bottom:5rem;
            }
        }

        &_wide {
            max-width:760px;

            @include book {
                max-width:660px;
            }
        }

        &_nomargin {
            margin-bottom:0;
        }

        .title {
            max-width:620px;
            margin:0 0 1rem;
        }
    }

    &__text {
        margin:0 0 2.5rem;
        max-width:1055px;

        @include book {
            max-width:840px;
        }

        .title {
            margin:0;
        }
    }

    &__picture {
        display:flex;
        justify-content:center;
        margin:0 0 7.5rem;

        &_shadow {
            img {
                filter:drop-shadow(0 10px 50px rgba(127, 82, 255, 0.08));
            }
        }

        &_medium {
            margin: 24px 0 64px;

            @include laptop {
                margin: 40px 0 136px;
            }

            &--2 {
                margin: 40px 0;

                @include laptop {
                    margin: 80px 0;
                }
            }
        }

        &_nomargin {
            margin-bottom:0;
        }
    }

    &__content {
        margin:0 0 7.5rem;
    }

    &__person {
        display: flex;
        align-items: center;
        text-align: center;
        gap:10px;

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-label {
            color: var(--color-gray-2);
        }

        &-photo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    &__card {
        border-radius:6px;
        border:1px solid #D4D4D4;
        margin:0 0 1.5rem;
        flex-direction:column-reverse;
        display:flex;
        justify-content:space-between;

        @include tablet {
            border-radius:12px;
            flex-direction:row;
        }
    }

    &__btn {
        &_mobile {
            display:none;
        }

        @include mobile {
            margin-top:1rem;

            &_desktop {
                display:none;
            }
            &_mobile {
                display:block;
            }
        }
    }

    &__about {
        display:flex;
        justify-content:center;
        align-items:flex-start;
        flex-direction:column;
        padding:1.5rem 1.25rem;

        @include tablet {
            flex-direction:column;
            background:none;
            border-radius:0;
            width:50%;
            padding:2.5rem;
        }

        @include laptop {
            padding:3rem;
        }

        @include desktop {
            padding:5rem 4.5rem 5rem 5rem;
        }
    }

    &__image {
        height:100%;
        background:#E9EEF9;
        display:flex;
        align-items:center;
        flex-direction:column;
        justify-content:center;
        width:100%;

        @include tablet {
            min-height:340px;
            width:50%;
        }

        @include laptop {
            min-height:540px;
        }

        @include desktop {
            min-height:640px;
        }
    }

    &__include {
        max-width:530px;

        @include book {
            .subtitle {
                max-width:460px;
            }
        }
    }

    &__section {
        width:50%;
        position:relative;
        display:none;

        @include tablet {
            display:block;
        }
    }

    &__slider {
        position:relative;
        width:100%;
        padding:0 70px;

        @include mobile {
            padding:1.5rem 1.5rem 1.5rem;
        }

        .swiper-slide {
            height:auto;
            padding:0 20px;

            @include mobile {
                padding:0;
            }
        }

        &-item {
            overflow:hidden;
            display:flex;
            align-items:center;
            justify-content:center;
            height:100%;

            img {
                max-height:500px;
                border-radius:7px;
                object-fit:contain;
                filter: drop-shadow(0 8px 15px rgba(127, 82, 255, 0.06));

                @include book {
                    max-height:410px;
                }
            }
        }

        &-arrow {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            width:48px;
            height:48px;
            border-radius:50%;
            cursor:pointer;
            outline:none;
            user-select:none;
            display:flex;
            align-items:center;
            justify-content:center;
            transition:var(--transition);
            background: rgba(8, 0, 41, 0.4);

            @include mobile {
                display:none;
            }

            &:hover {
                background: rgba(8, 0, 41, 0.7);
            }

            &_prev {
                left:20px;
            }

            &_next {
                right:20px;
            }
        }

        .swiper-pagination {
            position:initial;
            display:table;
            margin:20px auto 0;
            width:initial;
            height:28px;
            border-radius:100px;
            background:rgba(8, 0, 41, 0.5);
            padding:0 20px;

            @include mobile {
                margin-top:1.5rem;
            }

            &-bullet {
                margin:0;
                padding:0;
                background:#fff;
                opacity:.5;
                width:8px;
                height:8px;

                &-active {
                    opacity:1;
                }
            }
        }
    }

}
