<div class="copy-section" id="copyright">
    <div class="max-width">
        <div class="copy-section__head">
            <div class="headline">Copyright</div>
            <h4 class="title">A Serious Approach to <span class="gradient-green">Copyright</span></h4>
            <div class="subtitle body-l">We respect intellectual property rights and use only licensed content. In addition, we obtain official permits from stores to use their materials, ensuring that all our resources are obtained in accordance with the law and ethical standards.</div>
        </div>
    </div>

    <div class="copy-section__picture">
        <img srcset="__static__img/content/copy-pic-1@2x.webp 2x, __static__img/content/copy-pic-1.webp 1x" src="__static__img/content/copy-pic-1@2x.webp" alt="" />
    </div>

    <div class="max-width">
        <div class="copy-section__head copy-section__head_medium">
            <h3 class="title">Permitted Stores</h3>
            <div class="subtitle body-l">We consistently seek and obtain permission to use photographs from various stores, ensuring our use of images is always authorized and respectful of copyright laws.</div>
        </div>

        <div class="copy-section__content">
            <div class="copy-section__grid">
                <div class="copy-section__sidebar">
                    <div class="copy-section__about" data-about="1">
                        <img srcset="__static__img/content/copy-slide-1@2x.webp 2x, __static__img/content/copy-slide-1.webp 1x" src="__static__img/content/copy-slide-1@2x.webp" alt="" />
                        <div class="copy-section__include">
                            <h4 class="title">Employee to Request Permissions</h4>
                            <div class="subtitle body-l">We have a employee whose full-time role involves obtaining permissions from stores to use their visual content.</div>
                        </div>
                    </div>
                    <div class="copy-section__about" data-about="2">
                        <img srcset="__static__img/content/copy-slide-2@2x.webp 2x, __static__img/content/copy-slide-2.webp 1x" src="__static__img/content/copy-slide-2@2x.webp" alt="" />
                        <div class="copy-section__include">
                            <h4 class="title">Letters from the Store Owners</h4>
                            <div class="subtitle body-l">Our archive contains dozens of emails permissions from store owners, which we are prepared to provide at any time to demonstrate our commitment to using content responsibly and legally.</div>
                        </div>
                    </div>
                    <div class="copy-section__about" data-about="3">
                        <img srcset="__static__img/content/copy-slide-3@2x.webp 2x, __static__img/content/copy-slide-3.webp 1x" src="__static__img/content/copy-slide-3@2x.webp" alt="" />
                        <div class="copy-section__include">
                            <h4 class="title">From Small to Bigger Stores</h4>
                            <div class="subtitle body-l">Both small local stores and large world-famous companies trust us with their content, reflecting our proven track record of responsibly managing  materials.</div>
                        </div>
                    </div>
                </div>

                <div class="copy-section__section">
                    <div class="copy-section__image copy-section__image_active" data-image="1">
                        <img srcset="__static__img/content/copy-slide-1@2x.webp 2x, __static__img/content/copy-slide-1.webp 1x" src="__static__img/content/copy-slide-1@2x.webp" alt="" />
                    </div>
                    <div class="copy-section__image" data-image="2">
                        <img srcset="__static__img/content/copy-slide-2@2x.webp 2x, __static__img/content/copy-slide-2.webp 1x" src="__static__img/content/copy-slide-2@2x.webp" alt="" />
                    </div>
                    <div class="copy-section__image" data-image="3">
                        <img srcset="__static__img/content/copy-slide-3@2x.webp 2x, __static__img/content/copy-slide-3.webp 1x" src="__static__img/content/copy-slide-3@2x.webp" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-section__head copy-section__head_medium copy-section__head_nomargin">
            <h3 class="title">Free Photo Sources</h3>
            <div class="subtitle body-l">We also use popular royalty free photo banks such as Unsplash and Pexels, ensuring we have access to high-quality, legally-sourced images for our themes.</div>
        </div>
        <div class="copy-section__picture copy-section__picture_medium">
            <img srcset="__static__img/content/copy-pic-2@2x.webp 2x, __static__img/content/copy-pic-2.webp 1x" src="__static__img/content/copy-pic-2@2x.webp" alt="" />
        </div>

        <div class="copy-section__head copy-section__head_medium">
            <h3 class="title">Artificial Intelligence</h3>
            <div class="subtitle body-l">When we can't find a suitable image from open sources, we turn to artificial intelligence to create impressive graphics tailored for any purpose, ensuring we always have the perfect visual content for our projects.</div>
        </div>
        <div class="copy-section__person">
            <div class="team-section__person">
                <div class="team-section__photo">
                    <img srcset="__static__img/content/team/alexey-vs@2x.webp 2x, __static__img/content/team/alexey-vs.webp 1x" src="__static__img/content/team/alexey-vs@2x.webp" alt="" />
                </div>
                <div class="team-section__name">Alexey Vasiliev</div>
                <div class="team-label team-label--design">AI Designer</div>
            </div>
        </div>

        <div class="copy-section__text">
            <h4 class="title">We <span class="gradient-green">regularly use Midjourney</span> to craft incredibly detailed images for our themes. To ensure the highest quality, we support two pro accounts, each with the maximum allowed hours of operation</h4>
        </div>
    </div>

    <div class="copy-section__picture copy-section__picture_medium">
        <img srcset="__static__img/content/copy-pic-3@2x.webp 2x, __static__img/content/copy-pic-3.webp 1x" src="__static__img/content/copy-pic-3@2x.webp" alt="" />
    </div>

    <div class="max-width">
        <div class="copy-section__head">
            <h3 class="title">Mockups</h3>
            <div class="subtitle body-l">Among other resources, we use premium paid mockups of the highest quality to showcase products in our themes. Custom design enhance the presentation and help accurately convey the aesthetic  of our themes to potential customers.</div>
        </div>
        <div class="copy-section__picture copy-section__picture_shadow copy-section__picture_nomargin">
            <img srcset="__static__img/content/copy-pic-4@2x.webp 2x, __static__img/content/copy-pic-4.webp 1x" src="__static__img/content/copy-pic-4@2x.webp" alt="" />
        </div>
    </div>
</div>
